{{!-- <div class='table-responsive'> --}}
  <table class='table'>
    <caption>Penalties</caption>
    <thead>
      <tr>
        <th class='col-md-4'>Song</th>
        <th class='col-md-8'>Violation</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedSongs as |song|}}
        <tr>
          <td>
            {{song.chart.title}}
          </td>
          <td>
            {{#power-select-multiple
              options=song.penaltyOptions
              selected=song.penalties
              onchange=(perform autosave song)
              placeholder="(No Penalties)"
              allowClear=true
              disabled=song.isDisabled
              as |penalties|
            }}
              {{map-penalty penalties}}
            {{/power-select-multiple}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>(No songs.)</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{!-- </div> --}}