{{#bs-button
  type='primary'
  disabled=model.isError
  onClick=(action (mut confirmAppearanceModal) true)
}}
  Confirm Appearance
{{/bs-button}}
{{#bs-modal
  open=confirmAppearanceModal
  onHidden=(pipe-action (action (mut confirmAppearanceModal) false) (action (mut confirmAppearanceModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Confirm Appearance</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This will formally confirm the appearance.
    </p>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' onClick=(perform confirmAppearance)}}
      {{#if confirmAppearance.isRunning}}
        Confirming {{fa-icon "spinner" spin=true}}
      {{else}}
        Confirm Appearance
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
