<div class='table-responsive'>
  <table class='table'>
    <h6 class='card-title'>Songs</h6>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedSongs as |song|}}
        <tr>
          <td>
            {{#power-select
              options=model.chartOptions
              selected=song.chart
              onchange=(perform autosave song)
              placeholder="Choose Chart Title"
              searchField='title'
              allowClear=true
              disabled=song.isDisabled
              as |chart|
            }}
              Song {{song.num}}: {{chart.title}}
            {{/power-select}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>(No songs.)</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
