{{#bs-button
  type='danger'
  disabled=false
  onClick=(action (mut disqualifyAppearanceModal) true)
}}
  Disqualify Performance
{{/bs-button}}
{{#bs-modal
  open=disqualifyAppearanceModal
  onHidden=(pipe-action (action (mut disqualifyAppearanceModal) false) (action (mut disqualifyAppearanceModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Disqualify Performance</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This will formally disqualify this competitor.<br><strong style="color: red;">This cannot be undone.</strong>
    </p>
    {{#if submitAppearanceModalError}}
    <p class='text-danger'>
      Could not disqualify appearance. Please contact support.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='danger' onClick=(perform disqualifyAppearance)}}
      {{#if disqualifyAppearance.isRunning}}
        Disqualifing {{fa-icon "spinner" spin=true}}
      {{else}}
        Disqualify Performance
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}