{{!-- <div class='table-responsive'> --}}
  <h6>Penalties</h6>
  <table class='table table-hover table-sm'>
    <thead class='thead-light'>
      <tr>
        <th>Song</th>
        <th>Violation</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedSongs as |song|}}
        <tr>
          <td>
            {{song.title}}
          </td>
          <td>
            {{#power-select-multiple
              options=song.penaltyOptions
              selected=song.penalties
              onchange=(perform autosave song)
              placeholder="(No Penalties)"
              allowClear=true
              disabled=song.isDisabled
              as |penalties|
            }}
              {{map-penalty penalties}}
            {{/power-select-multiple}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>(No songs.)</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="alert alert-warning alert-penalty" role="alert">Penalties should only be recorded if one judge assessed a penalty of 5 or more points for a specific rule violation.</div>
{{!-- </div> --}}