
<h6 class='card-title'>
  Details
</h6>

<ul class='list-inline'>
  <li class='list-inline-item'>Grid:  {{#if model.grid.onstage}}{{moment-format model.grid.onstage "HH:mm"}}{{else}}N/A{{/if}}</li>
  <li class='list-inline-item'>Actual:  {{moment-format model.actualStart "HH:mm"}}</li>
  {{#if (or
    (eq model.status 'Started')
    (eq model.status 'Finished')
    (eq model.status 'Verified')
  )}}
    {{#if (eq model.round.session.kind 'Chorus')}}
      <li class='list-inline-item'>
        {{input
          class='form-control text-right'
          type='tel'
          value=model.pos
          min=0
          disabled=model.isDisabled
          max=100
          placeholder='Participants on Stage'
          change=(perform autosave value='target.value')
        }}
      </li>
    {{/if}}
  {{/if}}
</ul>
