{{#unless this.isProduction}}
  <BsButton
    @type='outline-dark'
    @disabled=this.model.isDisabled
    @onClick=(action (mut this.mockAppearanceModal) true)
  >
    Mock Performance
  </BsButton>
  <BsModal
    @open=this.mockAppearanceModal
    @onHidden=(pipe-action (action (mut this.mockAppearanceModal) false) (action (mut this.mockAppearanceModalError) false))
    as |modal|
  >
    <modal.header>
      <h4>Mock Performance</h4>
    </modal.header>
    <modal.body>
      <p>
          Are you sure you would like to mock this performance?
      </p>
      {{#if this.mockAppearanceModalError}}
      <p class='text-danger'>
        Could not mock Performance.
      </p>
      {{/if}}
    </modal.body>
    <modal.footer>
      <BsButton @onClick=(action modal.close) @type="default">Cancel</BsButton>
      <BsButton @type='primary' @disabled=this.model.isError @onClick=(perform this.mockAppearance)>
        {{#if this.mockAppearance.isRunning}}
          Mocking... {{fa-icon "spinner" spin=true}}
        {{else}}
          Mock Performance
        {{/if}}
      </BsButton>
    </modal.footer>
  </BsModal>
{{/unless}}