{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut finishCompetitorModal) true)
}}
  Finish Competitor
{{/bs-button}}
{{#bs-modal
  open=finishCompetitorModal
  onHidden=(pipe-action (action (mut finishCompetitorModal) false) (action (mut finishCompetitorModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Finish Competitor</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This will formally finish the competitor.
    </p>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' onClick=(perform finishCompetitor)}}
      {{#if finishCompetitor.isRunning}}
        Finishing {{fa-icon "spinner" spin=true}}
      {{else}}
        Finish Competitor
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
