<div class='table-responsive'>
  <table class='table'>
    <h6 class='card-title'>
      Competitor is contesting these awards.
    </h6>
    <thead>
      <tr>
        <th class='col-md-5'>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedContestants as |contestant|}}
          <tr>
            <td>
              {{#if contestant.contest.award.isLoading}}
                Loading&nbsp;{{fa-icon 'spinner' spin=true}}
              {{else}}
                {{contestant.contest.award.name}}
              {{/if}}
            </td>
          </tr>
      {{else}}
        <tr>
          <td colspan=2>Not contesting any awards.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
