<div class='table-responsive'>
  <table class='table table-hover table-sm'>
    <caption>
      Competitor is contesting these awards.
    </caption>
    <thead class='thead-light'>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedContestants as |contestant|}}
          <tr>
            <td>
              {{#if contestant.contest.award.isLoading}}
                Loading&nbsp;{{fa-icon 'spinner' spin=true}}
              {{else}}
                {{contestant.contest.awardName}}
              {{/if}}
            </td>
          </tr>
      {{else}}
        <tr>
          <td colspan=2>Not contesting any awards.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>