{{#bs-button
  type='danger'
  disabled=model.isError
  onClick=(action (mut disqualifyCompetitorModal) true)
}}
  Disqualify Competitor
{{/bs-button}}
{{#bs-modal
  open=disqualifyCompetitorModal
  onHidden=(pipe-action (action (mut disqualifyCompetitorModal) false) (action (mut disqualifyCompetitorModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>
      Disqualify Competitor
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This will formally disqualify this competitor.  This action is irreversible.
    </p>
    {{#if submitCompetitorModalError}}
    <p class='text-danger'>
      Could not disqualify competitor.  Please contact support.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='danger' onClick=(perform disqualifyCompetitor)}}
      {{#if disqualifyCompetitor.isRunning}}
        Disqualifying {{fa-icon "spinner" spin=true}}
      {{else}}
        Disqualify Competitor
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
