{{#bs-button
  type='danger'
  disabled=model.isError
  onClick=(action (mut scratchCompetitorModal) true)
}}
  Scratch Competitor
{{/bs-button}}
{{#bs-modal
  open=scratchCompetitorModal
  onHidden=(pipe-action (action (mut scratchCompetitorModal) false) (action (mut scratchCompetitorModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>
      Scratch Competitor
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This will formally scratch this competitor.  This action is irreversible.
    </p>
    {{#if submitCompetitorModalError}}
    <p class='text-danger'>
      Could not scratch competitor.  Please contact support.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='danger' onClick=(perform scratchCompetitor)}}
      {{#if scratchCompetitor.isRunning}}
        Scratching {{fa-icon "spinner" spin=true}}
      {{else}}
        Scratch Competitor
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
