{{#bs-button
  type='primary'
  disabled=model.isError
  onClick=(action (mut startCompetitorModal) true)
}}
  Start Competitor
{{/bs-button}}
{{#bs-modal
  open=startCompetitorModal
  onHidden=(pipe-action (action (mut startCompetitorModal) false) (action (mut startCompetitorModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Start Competitor</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This will formally start the competitor.
    </p>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' onClick=(perform startCompetitor)}}
      {{#if startCompetitor.isRunning}}
        Starting {{fa-icon "spinner" spin=true}}
      {{else}}
        Start Competitor
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
