<section>
  <div class='card'>
    <div class='card-header'>
      {{prev-next model=this.model sortedArray=this.sortedContests}}

      <h4>
        {{this.model.name}}
      </h4>
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table table-hover table-sm'>
          <thead class='thead-light'>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.sortedEntries as |entry|}}
              <tr>
                <td>
                  {{entry.name}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No groups entered for this contest.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>