{{#if award.isLoading}}
  <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
{{else}}
  {{#bs-button-group
    value=isSelected
    type='radio'
    onChange=(perform toggleAward 'contests')
    as |bg|
  }}
    {{#bg.button type='default' value=true disabled=isDisabled}}On{{/bg.button}}
    {{#bg.button type='default' value=false disabled=isDisabled}}Off{{/bg.button}}
  {{/bs-button-group}}
{{/if}}