<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedSessions as |session|}}
        <tr>
          <td>
            {{#link-to 'dashboard.conventions.convention.sessions.session.details' session}}{{session.kind}}{{/link-to}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>(You do not have any current assignments.  Please check with David Mills or Chris Buechler if you believe this is in error.)</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
