<div class='table-responsive'>
  <h3>
    Your Conventions
  </h3>
  <table class='table'>
    <caption>These are the Conventions currently assigned to you.</caption>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedConventions as |convention|}}
        <tr>
          <td>{{convention.name}}</td>
        </tr>
      {{else}}
        <tr>
          <td>No active Conventions currently assigned to you.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
