<section>
  {{#bs-modal-simple
    open=openModal
    backdropClose=false
    onHidden=(action "clearRepertory")
    title="Add Chart to Repertory"
    closeTitle="Cancel"
    submitTitle="Save"
  }}
    {{#bs-form
      formLayout="vertical"
      model=model
      onSubmit=(action "saveRepertory")
      as |form|
    }}
      {{#form.element property='chart' useIcons=false as |el|}}
        {{#power-select
          search=(perform searchChart)
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Enter Song Title or BHS Number"
          allowClear=true
          renderInPlace=true
          as |chart|
        }}
          Song: {{chart.nomen}}  {{#if chart.arrangers}}(arr. {{chart.arrangers}}){{/if}}
        {{/power-select}}
      {{/form.element}}
    {{/bs-form}}
  {{/bs-modal-simple}}
</section>