  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearSession")
    title="Create Session"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=model
      formLayout='vertical'
      onSubmit=(action 'saveSession')
      as |form|
    }}
      {{#form.element property='kind' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=model.kindOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Session Kind"
          allowClear=true
          as |kind|
        }}
          Kind: {{kind}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='awards' useIcons=false as |el|}}
        {{#if awardOptions}}
          Select Contests for this Session:<br><br>
          {{multiselect-checkboxes
            options=awardOptions
            labelProperty='name'
            selection=el.value
            updateSelectionValue=false
            onchange=(action (mut el.value))
          }}
          <br><br>
          If you need to create new awards, you can do so in the {{#link-to 'dashboard.award-manager'}}Award Manager{{/link-to}}.
        {{/if}}
      {{/form.element}}
      {{#each model.errors.non-field-errors as |error|}}
        <span class='has-error'>
          <span class="help-block">
            {{error.message}}
          </span>
        </span>
      {{/each}}
    {{/bs-form}}
    {{#bs-button type='success' onClick=(action 'saveSession')}}Save{{/bs-button}}
{{/bs-modal-simple}}
