  {{#bs-modal-simple
    open=openModal
    onHidden=(action "clearOfficer")
    title="Add Officer"
    closeTitle="Cancel"
    submitTitle="Save"
    backdropClose=false
  }}
    {{#bs-form
      model=model
      formLayout='vertical'
      onSubmit=(action 'saveOfficer')
      as |form|
    }}
      {{#form.element property='person' useIcons=false as |el|}}
        {{#power-select
          search=(perform searchPerson)
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Enter Person Name"
          renderInPlace=true
          allowClear=true
          as |person|
        }}
          Person: {{person.commonName}}
        {{/power-select}}
      {{/form.element}}
      {{#form.element property='office' useIcons=false as |el|}}
        {{#power-select
          options=officeOptions
          selected=el.value
          searchField='nomen'
          onchange=(action (mut el.value))
          placeholder="Choose Office"
          renderInPlace=true
          allowClear=true
          as |office|
        }}
          Office: {{office.name}}
        {{/power-select}}
      {{/form.element}}
      {{!-- {{#form.element property='entity' useIcons=false as |el|}}
        {{#power-select
          renderInPlace=true
          options=entityOptions
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Choose Entity"
          allowClear=true
          as |entity|
        }}
          Entity: {{entity.name}}
        {{/power-select}}
      {{/form.element}} --}}
      {{#each model.errors.non-field-errors as |error|}}
        <span class='has-error'>
          <span class="help-block">
            {{error.message}}
          </span>
        </span>
      {{/each}}
    {{/bs-form}}
  {{/bs-modal-simple}}