<section>
  {{#bs-modal-simple
    open=openModal
    backdropClose=false
    onHidden=(action "clearRepertory")
    title="Add Chart to Repertory"
    closeTitle="Cancel"
    submitTitle="Save"
  }}
    {{#bs-form
      formLayout="vertical"
      model=model
      onSubmit=(action "saveRepertory")
      as |form|
    }}
      {{#form.element property='chart' useIcons=false as |el|}}
        {{#power-select
          search=(perform searchChart)
          selected=el.value
          onchange=(action (mut el.value))
          placeholder="Enter Song Title"
          allowClear=true
          renderInPlace=true
          as |chart|
        }}
          Song: {{chart.nomen}}
        {{/power-select}}
      {{/form.element}}
    {{/bs-form}}
    <p>
      <strong>Note:</strong>  If you can't find your chart through this search box, please send an email with the first page of the chart to charts@barberscore.com.  It can be a PDF if you have it, or just a picture from your camera phone!  We'll add it to your repertory ASAP.
    </p>
  {{/bs-modal-simple}}
</section>