<div class='row'>
  <div class='col-xs-10'>
    {{#power-select
      options=model.allMembers
      searchField='personNomen'
      selected=member
      onchange=(action (mut member))
      placeholder="Add Admin by Name or Member Number"
      allowClear=true
      as |member|
    }}
      Person: {{member.person.nomen}}
    {{/power-select}}
  </div>
  <div col-xs-2>
    {{#bs-button type='success' size='sm' onClick=(perform makeAdmin member)}}
      Add
    {{/bs-button}}
  </div>
</div>
