<div class='table-responsive'>
  <table class='table table-hover table-sm'>
    <thead class='thead-light'>
      <tr>
        <th>Include</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#multiselect-checkboxes
        tagName=''
        options=sortedContests
        selection=model.contests
        onchange=(perform updateSelection)
        as |contest isSelected|
      }}
        <tr>
          <td>
            {{input type="checkbox" class='pl-2' disabled=false checked=isSelected}}
          </td>
          <td>
            {{contest.name}}
          </td>
          <td>
            {{contest.description}}
          </td>
        </tr>
      {{/multiselect-checkboxes}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan=3>
          <em>Click on all the awards for which you wish to compete.</em>
        </td>
      </tr>
    </tfoot>
  </table>
</div>