{{#bs-button
  type='primary'
  disabled=model.isError
  onClick=(action (mut approveEntryModal) true)
}}
  {{#if (or (eq model.status 'Withdrawn')(eq model.status 'Approved'))}}Re-Approve Entry{{else}}Approve Entry{{/if}}
{{/bs-button}}
{{#bs-modal
  open=approveEntryModal
  onHidden=(pipe-action (action (mut approveEntryModal) false) (action (mut approveEntryModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Approve Entry</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This approves (or re-approves) the entry for the group.  They will receive an email notifying them that they are all set for the contest.
    </p>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' onClick=(perform approveEntry)}}
      {{#if approveEntry.isRunning}}
        Approving {{fa-icon "spinner" spin=true}}
      {{else}}
        Approve Entry
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
