{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut approveEntryModal) true)
}}
  {{#if (or (eq model.status 'Withdrawn')(eq model.status 'Approved'))}}Re-Approve Entry{{else}}Approve Entry{{/if}}
{{/bs-button}}
{{#bs-modal
  open=approveEntryModal
  onHidden=(pipe-action (action (mut approveEntryModal) false) (action (mut approveEntryModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Approve Entry</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This approves (or re-approves) the entry for the group.  They will receive an email notifying them that they are all set for the contest.
    </p>
    {{#if approveEntryModalError}}
      <p class='text-danger'>
        Could not Approve entry.  Please check to ensure:
        <ul>
          <li>The group hasn't selected an Award while in Score/Eval-Only.</li>
          <li>The group has specified their Members/Director(s)</li>
          <li>The group has specified their Chapter(s)</li>
          <li>If a Chorus, the group has specified their Estimated participants on stage.</li>
        </ul>
        If you've verified all this and still can't approve, please let Chris Buechler or David Mills know -- it's bug we need to fix!
      </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' onClick=(perform approveEntry)}}
      {{#if approveEntry.isRunning}}
        Approving {{fa-icon "spinner" spin=true}}
      {{else}}
        Approve Entry
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}