{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut inviteEntryModal) true)
}}
  {{#if (or (eq model.status 'Withdrawn')(eq model.status 'Invited'))}}Re-Invite Entry{{else}}Invite Entry{{/if}}
{{/bs-button}}
{{#bs-modal
  open=inviteEntryModal
  onHidden=(pipe-action (action (mut inviteEntryModal) false) (action (mut inviteEntryModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Invite Entry</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This will formally invite the group to participate in the Session your entry into the contest.  They will be sent an email with instructions how to accept or decline their invitation.
    </p>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' onClick=(perform inviteEntry)}}
      {{#if inviteEntry.isRunning}}
        Inviting {{fa-icon "spinner" spin=true}}
      {{else}}
        Invite Entry
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
