
    <form {{action "updateGroup" on="submit"}}>
      <h2>Edit Group</h2>
      <div class="form-group">
        <label for='location'>Location</label>
        {{input value=group.location id='location' class="form-control"}}
      </div>
      <button class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
{{model}} - {{group.name}}
