<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>Person</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedJudges as |judge|}}
        <tr>
          <td>
            <img src={{judge.person.image_thumbnail}}>
          </td>
          <td>
            {{judge.person.name}}{{#if judge.person.spouse}}({{judge.person.spouse}}){{/if}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>No Judges in System.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
