<div class='table-responsive'>
  <table class='table'>
    <caption>These are the state logs transitions.</caption>
    <thead>
      <tr>
        <th class='col-md-1'>Transition</th>
        <th class='col-md-2'>By</th>
        <th class='col-md-2'>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedStatelogs as |statelog|}}
        <tr>
          <td>
            {{capitalize-word statelog.transition}}
          </td>
          <td>
            {{statelog.by.person.commonName}}
          </td>
          <td>
            {{moment-format statelog.timestamp 'LLLL'}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>
            (No Logs.)
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
