{{#bs-button
  type='danger'
  disabled=model.isDisabled
  onClick=(action (mut deleteOutcomeModal) true)
}}
  Delete Outcome
{{/bs-button}}
{{#bs-modal
  open=deleteOutcomeModal
  onHidden=(pipe-action (action (mut deleteOutcomeModal) false) (action (mut deleteOutcomeModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Delete Outcome</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      This will delete the Outcome.  Generally used to remove a Contest added in error, or for which all contenders have scratched.
    </p>
    {{#if deleteOutcomeModalError}}
    <p class='text-danger'>
      Could not delete outcome.  Please contact support.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='danger' onClick=(perform deleteOutcome)}}
      {{#if deleteOutcome.isRunning}}
        Deleting {{fa-icon "spinner" spin=true}}
      {{else}}
        Delete Outcome
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}