<div class='float-end'>
  <BsButtonGroup
    @type='radio'
  >
      <BsButton
        @type='outline-dark'
        @disabled={{not (has-previous this.model this.sortedArray)}}
        @onClick={{action 'trans' (previous this.model this.sortedArray)}}
      >
       Previous
      </BsButton>
      <BsButton
        @type='outline-dark'
        @disabled={{not (has-next this.model this.sortedArray)}}
        @onClick={{action 'trans' (next this.model this.sortedArray)}}
      >
        Next
      </BsButton>
  </BsButtonGroup>
</div>