<ul class='list-inline float-right'>
  <li class='list-inline-item'>
    {{#bs-button
      disabled=(not (has-previous model sortedArray))
      onClick=(action 'trans' (previous model sortedArray))
    }}
     Previous
    {{/bs-button}}
  </li>
  <li class='list-inline-item'>
    {{#bs-button
      disabled=(not (has-next model sortedArray))
      onClick=(action 'trans' (next model sortedArray))
    }}
      Next
    {{/bs-button}}
  </li>
</ul>
