{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut verifyRoundModal) true)
}}
  Verify Round
{{/bs-button}}
{{#bs-modal
  open=verifyRoundModal
  onHidden=(pipe-action (action (mut verifyRoundModal) false) (action (mut verifyRoundModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Verify Round</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        This generates draft versions of the OSS, CSA and SA for the CA to verify.  They are not made public until the next step; you will be able to make changes as necessary until the Round is finished.
    </p>
    {{#if (eq model.kind 'Finals')}}
      <p>
        Pay particular attenion to the contest winners for accuracy and completeness (you will need to select winners for any manual awards.)  If you need to make changes to the scores, be sure to re-verify before continuing.
      </p>
    {{else}}
      <p>
          This will draw the top <strong>{{model.spots}} multi-round competitors</strong> into the next round.  If you change the number of available spots, please Verify Round again to re-Draw.
      </p>
    {{/if}}
    {{#if verifyRoundModalError}}
    <p class='text-danger'>
      Could not Verify Round.  Please ensure all Appearances have been verified.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform verifyRound)}}
      {{#if verifyRound.isRunning}}
        Verifying {{fa-icon "spinner" spin=true}}
      {{else}}
        Verify Round
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
