{{#bs-button
  type='primary'
  disabled=model.isError
  onClick=(action (mut startRoundModal) true)
}}
  Start Round
{{/bs-button}}
{{#bs-modal
  open=startRoundModal
  onHidden=(pipe-action (action (mut startRoundModal) false) (action (mut startRoundModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Start Round</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        This officially starts the round.  Before starting, be certain you have:
        <ul class='list-styled'>
          <li>Confirmed the Panel</li>
          <li>Confirmed the Order of Appearance</li>
        </ul>
        You will not be able to change these once the Round is started.
    </p>
    {{#if startRoundModalError}}
    <p class='text-danger'>
      Could not Start Round.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform startRound)}}
      {{#if startRound.isRunning}}
        Starting {{fa-icon "spinner" spin=true}}
      {{else}}
        Start Round
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
