{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut finishRoundModal) true)
}}
  Finish Round
{{/bs-button}}
{{#bs-modal
  open=finishRoundModal
  onHidden=(pipe-action (action (mut finishRoundModal) false) (action (mut finishRoundModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Finish Round</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        This ends the round and makes the results public.  It generates and emails the final versions of the OSS, CSA, and SA reports for this round (where applicable.)
    </p>
    <p class='text-danger'>
      The Round should not be "Finished" until the announcements are finished!
    </p>
    {{#if finishRoundModalError}}
    <p class='text-danger'>
      Could not Finish Round.  Please ensure all Manual Award Winners have been selected.  Otherwise, contact support.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform finishRound)}}
      {{#if finishRound.isRunning}}
        Finishing {{fa-icon "spinner" spin=true}}
      {{else}}
        Finish Round
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
