{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut publishRoundModal) true)
}}
  Publish Round
{{/bs-button}}
{{#bs-modal
  open=publishRoundModal
  onHidden=(pipe-action (action (mut publishRoundModal) false) (action (mut publishRoundModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Publish Round</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        This officially ends the round and makes the final reports public.  The OSS, SA, CSA and PSA forms are all emailed to the competitors and panelists.
    </p>
    <h4>
      The Round should not be "Published" until the announcements are over!  This step CAN NOT BE UNDONE!!!
    </h4>
    {{#if publishRoundModalError}}
    <p class='text-danger'>
      Could not Publish Round.  Please contact support.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform publishRound)}}
      {{#if publishRound.isRunning}}
        Publishing {{fa-icon "spinner" spin=true}}
      {{else}}
        Publish Round
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}