{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut buildRoundModal) true)
}}
  Build Round
{{/bs-button}}
{{#bs-modal
  open=buildRoundModal
  onHidden=(pipe-action (action (mut buildRoundModal) false) (action (mut buildRoundModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Build Round</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        Building the Round creates the Panelists, Appearances and Outcomes from the Packaged Session.  After Building you will have the opportunity to make adjustments as necessary.
    </p>
    {{#if buildRoundModalError}}
    <p class='text-danger'>
      Could not Build Round.  Please contact Support.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform buildRound)}}
      {{#if buildRound.isRunning}}
        Building {{fa-icon "spinner" spin=true}}
      {{else}}
        Build Round
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}