{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut finishRoundModal) true)
}}
  Finish Round
{{/bs-button}}
{{#bs-modal
  open=finishRoundModal
  onHidden=(pipe-action (action (mut finishRoundModal) false) (action (mut finishRoundModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Finish Round</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        This concludes the scoring process.  Finishing the Round will produce the draft reports, indicate award winners and set the next draw (where applicable.)
    </p>
    <h4>
      The Round should not be "Finished" until all scores have been entered and all variances addressed!
    </h4>
    {{#if finishRoundModalError}}
    <p class='text-danger'>
      Could not Finish Round.  Please ensure all Appearances have been Verified.  Otherwise, contact support.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform finishRound)}}
      {{#if finishRound.isRunning}}
        Finishing {{fa-icon "spinner" spin=true}}
      {{else}}
        Finish Round
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}