<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <ul class='list-inline pull-right'>
        <li>
          {{#bs-button
            disabled=(not (has-previous model sortedPanelists))
            onClick=(action 'trans' (previous model sortedPanelists))
          }}
           Previous
          {{/bs-button}}
        </li>
        <li>
          {{#bs-button
            disabled=(not (has-next model sortedPanelists))
            onClick=(action 'trans' (next model sortedPanelists))
          }}
            Next
          {{/bs-button}}
        </li>
      </ul>
      <h4>
        {{model.person.commonName}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        {{model.category}}
      </section>
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        {{#if (eq model.round.status 'Built')}}
          <li>{{panelist-delete model=model}}</li>
        {{/if}}
        <li class='pull-right'><h4>Panelist Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
