<section>
  <div class='card'>
    <div class='card-header'>
      {{prev-next model=model sortedArray=sortedContests}}
      <h4>
        {{model.award.name}}
      </h4>
    </div>
    <div class='card-body'>
      <section>
      {{#if model.notQualifier }}
        {{#power-select
          options=model.groupOptions
          selected=model.group
          onchange=(action (mut model.group))
          onclose=(action "saveModel" model)
          placeholder="Choose Award Winner"
          searchField='name'
          allowClear=true
          disabled=model.isDisabled
          as |group|
        }}
          Winner: {{group.name}}
        {{/power-select}}
      {{else}}
        (Qualifiers are determined by rule and appear on the OSS)
      {{/if }}
      </section>
    </div>
  </div>
</section>
