{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut finishRoundModal) true)
}}
  Finish Round
{{/bs-button}}
{{#bs-modal
  open=finishRoundModal
  onHidden=(pipe-action (action (mut finishRoundModal) false) (action (mut finishRoundModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Finish Round</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        This concludes the scoring process.  Finishing the Round will produce the <em>draft</em> reports, award winners, and draw for the next round (if applicable).  The CA will have the ability to make and any all adjustments to these private, draft results before publication.
    </p>
    <h4>
      The Round should not be "Finished" until all Appearances have been Verified!
    </h4>
    {{#if finishRoundModalError}}
      <p class='text-danger'>
        Could not Finish Round.  Please ensure all Appearances have been Verified.  Otherwise, contact support.
      </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform finishRound)}}
      {{#if finishRound.isRunning}}
        Finishing {{fa-icon "spinner" spin=true}}
      {{else}}
        Finish Round
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}