{{#bs-button
  type='primary'
  disabled=model.isDisabled
  onClick=(action (mut verifyRoundModal) true)
}}
  Verify Round
{{/bs-button}}
{{#bs-modal
  open=verifyRoundModal
  onHidden=(pipe-action (action (mut verifyRoundModal) false) (action (mut verifyRoundModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Verify Round</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        Verifying the Round generates <strong>FINAL</strong> versions of the OSS, SA, Song Titles and Announcements.  They are not made public until the next step, but Verifying does mean that no further changes will be possible without administrative assistance. Pay particular attenion to the OSS for accuracy and completeness, making manual adjustments in the Appearances, Outcomes, and Draw as necesary <strong>BEFORE YOU VERIFY</strong>.

    </p>
    <p>
        <strong>IMPORTANT:</strong>&nbsp;&nbsp;Please take the time to review all the reports thoroughly!  This step can not be undone easily.
    </p>
    {{#if verifyRoundModalError}}
    <p class='text-danger'>
      Could not Verify Round.  Please ensure all Outcomes have been determined (including "Manual" awards).
    </p>
    <p>
      If you are certain that the Appearances were verified try refreshing the page to see if things worked; otherwise contact support.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform verifyRound)}}
      {{#if verifyRound.isRunning}}
        Verifying {{fa-icon "spinner" spin=true}}
      {{else}}
        Verify Round
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}