<div class='form-group'>
  Spots Available in Next Round (blank for unlimited):
  <input
    type="number"
    value={{this.model.spots}}
    disabled={{this.isDisabled}}
    oninput={{perform this.autosave value='target.value'}}
    class='form-control col-sm-1'
  />
</div>