{{#if (or (eq model.status 'Verified')(eq model.status 'Finished'))}}
  <ul class='list-unstyled'>
    {{#each sortedContests as |contest|}}
      <li>
        <ul class='list-inline'>
          <li>{{contest.award.name}}: {{contest.award.rounds}}</li>
          <li>
            {{#power-select
              search=(perform searchGroup)
              selected=contest.group
              onchange=(perform updateGroup contest)
              placeholder="Choose Group"
              allowClear=true
              renderInPlace=true
              disabled=false
              as |group|
            }}
              {{group.name}}
            {{/power-select}}
          </li>
        </ul>
      </li>
    {{/each}}
  </ul>
{{else}}
    <h3>
      The Competitors are available after the prior round is finished.
    </h3>
{{/if}}