<div class='form-group'>
  <textarea
    value={{model.footnotes}}
    disabled={{model.isDisabled}}
    oninput={{perform autosave value='target.value'}}
    class='form-control'
    rows='3'
    placeholder='Enter any footnotes associated with the Round.  Will print on the OSS.'
  >
  </textarea>
</div>
