{{#bs-button
  type='primary'
  disabled=model.isError
  onClick=(action (mut verifySessionModal) true)
}}
  {{#if (eq model.status 'Verified')}}Re-Verify Session{{else}}Verify Session{{/if}}
{{/bs-button}}
{{#bs-modal
  open=verifySessionModal
  onHidden=(pipe-action (action (mut verifySessionModal) false) (action (mut verifySessionModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Verify Session</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        This action verifies a closed session and produces three XLSX files (which will be exposed via links on the Details tab). You can still manually add entries and/or rearrange the draw following verification if needed. If any changes are made, you should click "Re-Verify Session" to re-create those XLSX files.
    </p>
    {{#if verifySessionModalError}}
    <p class='text-danger'>
      Could not Verify Session.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform verifySession)}}
      {{#if verifySession.isRunning}}
        Verifying {{fa-icon "spinner" spin=true}}
      {{else}}
        Verify Session
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
