<section>
    {{#if (or
      (eq model.status 'Verified')
      (eq model.status 'Packaged')
      (eq model.status 'Finished')
    )}}
      <ul class='list-styled'>
        <li>BBScores Excel Export: {{fa-icon 'file-excel-o'  size='2' click=(action 'clickLegacy') }}</li>
        <li>DRCJ Report Excel Export: {{fa-icon 'file-excel-o'  size='2' click=(action 'clickDrcj') }}</li>
        <li>Admin Emails Excel Export: {{fa-icon 'file-excel-o'  size='2' click=(action 'clickContact') }}</li>
      </ul>
    {{else}}
      <h4>
        Reports are available after the session is Verified.
      </h4>
    {{/if}}
</section>