{{#bs-button
  type='primary'
  disabled=model.isError
  onClick=(action (mut closeSessionModal) true)
}}
  Close Session
{{/bs-button}}
{{#bs-modal
  open=closeSessionModal
  onHidden=(pipe-action (action (mut closeSessionModal) false) (action (mut closeSessionModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Close Session</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        Prior to closing this session, ensure that all entries you wish to be included in the draw are now in the "Approved" status. This also closes the session to new entries (in the case of an "Open" session) and sets the initial draw randomly.  You will still be able to manually add entries or re-sort the draw.  Also, this is considered a "private" action; the draw and list of entries will not be made public until the next action (Verify) is taken.
    </p>
    {{#if closeSessionModalError}}
    <p class='text-danger'>
      Could not Close Session.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform closeSession)}}
      {{#if closeSession.isRunning}}
        Closeing {{fa-icon "spinner" spin=true}}
      {{else}}
        Close Session
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
