{{#bs-button
  type='primary'
  disabled=model.isError
  onClick=(action (mut startSessionModal) true)
}}
  Start Session
{{/bs-button}}
{{#bs-modal
  open=startSessionModal
  onHidden=(pipe-action (action (mut startSessionModal) false) (action (mut startSessionModalError) false))
  as |modal|
}}
  {{#modal.header}}
    <h4>Start Session</h4>
  {{/modal.header}}
  {{#modal.body}}
    <p>
        This officially starts the session and represents the official handoff from the DRCJ to the Contest Administrator.  After the session is started it is put into a locked down state; you won't be able to add, withdraw, re-arrange the draw or take any actions.  Any changes subsequent to a session Start must be handled by the CA.
    </p>
    {{#if startSessionModalError}}
    <p class='text-danger'>
      Could not Start Session.
    </p>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button type='primary' disabled=model.isError onClick=(perform startSession)}}
      {{#if startSession.isRunning}}
        Starting {{fa-icon "spinner" spin=true}}
      {{else}}
        Start Session
      {{/if}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
