{{#if model.isLoading}}
  <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
{{else}}
  {{#unless (eq foo bar)}}
    {{#if model.isAdmin}}
      {{#bs-button type='default' size='xs' onClick=(perform demoteMember) disabled=isDisabled}}Remove Admin{{/bs-button}}
    {{else}}
      {{#bs-button type='default' size='xs' onClick=(perform promoteMember) disabled=isDisabled}}Make Admin{{/bs-button}}
    {{/if}}
  {{/unless}}
{{/if}}