{{#if model.isLoading}}
  <td>Loading&nbsp;{{fa-icon 'spinner' spin=true}}</td>
{{else}}
  <input type="checkbox" checked={{isIncluded}} onclick={{perform toggleContestant value='target.checked'}}>
{{/if}}
