<div>
    {{!-- {{#nav.item}}
      {{#nav.link-to "dashboard.scoring-manager.session.details"}}Details{{/nav.link-to}}
    {{/nav.item}} --}}
  {{!--   {{#nav.item}}
      {{#nav.link-to "dashboard.scoring-manager.session.oas"}}OAs{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "dashboard.scoring-manager.session.score"}}Scores{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "dashboard.scoring-manager.session.reports"}}Reports{{/nav.link-to}}
    {{/nav.item}} --}}
    {{!-- {{#bs-dropdown tagName='li' as |dd|}}
      {{#dd.button}}Actions{{/dd.button}}
      {{#dd.menu as |ddm|}}
        {{#ddm.item}}
          Foo
        {{/ddm.item}}
      {{/dd.menu}}
    {{/bs-dropdown}} --}}
  {{!-- {{/bs-nav}} --}}

  {{#bs-nav type='tabs' as |nav|}}
    {{#each sortedRounds as |round|}}
      {{#nav.item}}
        {{#nav.link-to 'dashboard.scoring-manager.session.round' round}}{{round.kind}}{{/nav.link-to}}
      {{/nav.item}}
    {{/each}}
  {{/bs-nav}}
  {{outlet}}
</div>
