<section>
  <ul class='list-unstyled'>
    {{!-- <li class='action-list'>{{#bs-button onChange=(action 'openSession') class='form-group' disabled=true}}Open Session{{/bs-button}}</li> --}}
    {{!-- <li class='action-list'>{{#bs-button onChange=(action 'closeSession') class='form-group' disabled=true}}Close Session{{/bs-button}}</li> --}}
  </ul>
</section>
