<section>
  <ul class='list-unstyled'>
    <li class='action-list'>{{#bs-button onClick=(action 'validateRepertory') class='form-group' disabled=false}}Validate{{/bs-button}}</li>
    <li class='action-list'>{{#bs-button onClick=(action 'invalidateRepertory') class='form-group' disabled=false}}Invalidate{{/bs-button}}</li>
  </ul>
</section>
