<div>
  {{#bs-nav type='tabs' as |nav|}}
    {{#nav.item}}
      {{#nav.link-to "admin.contest-manager.session.details"}}Details{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "admin.contest-manager.session.assignments"}}Administrators{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "admin.contest-manager.session.contests"}}Awards{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "admin.contest-manager.session.performers"}}Entrants{{/nav.link-to}}
    {{/nav.item}}
    {{!-- {{#bs-dropdown tagName='li' as |dd|}}
      {{#dd.button}}Actions{{/dd.button}}
      {{#dd.menu as |ddm|}}
        {{#ddm.item}}
          Foo
        {{/ddm.item}}
      {{/dd.menu}}
    {{/bs-dropdown}} --}}
  {{/bs-nav}}
  {{outlet}}
</div>
