<section>
  <ul class='list-unstyled'>
    <li class='double'>{{download-drcj model=model}}</li>
    <li class='double'>{{download-legacy model=model}}</li>
    <li class='double'>{{download-contact model=model}}</li>
  </ul>
</section>