<section>
  {{#if (or (eq this.model.status 'Verified')(eq this.model.status 'Packaged')) }}
    <ul class='list-unstyled'>
      <li class='double'>{{download-drcj model=this.model}}</li>
      <li class='double'>{{download-legacy model=this.model}}</li>
    </ul>
  {{else}}
    <p>
      DRCJ and Legacy Reports are available after the Session is Verified.
    </p>
  {{/if}}
</section>