<section>
  {{#if (or (eq model.status 'Verified')(eq model.status 'Packaged')) }}
    <ul class='list-unstyled'>
      <li class='double'>{{download-drcj model=model}}</li>
      <li class='double'>{{download-legacy model=model}}</li>
      <li class='double'>{{download-contact model=model}}</li>
    </ul>
  {{else}}
    <h4>
      Reports are available after the Session is Verified.
    </h4>
  {{/if}}
</section>