/*.active {
  font-weight: bold;
}

.in-modal {
  margin: 10px;
}

.spacing {
  margin: 20px;
}

.double {
  padding-top: 20px;
}

.bottom-spacing {
  padding-top: 60px;
}

.ember-basic-dropdown {
  width: auto;
  min-width: 200px;
}

.person-detail {
  margin: 0 -8px;
  display: flex;
}

.action-list {
  padding: 6px;
}

.fixed-panel-header {
  min-height: 60px;
  max-height: 60px;
}

.fixed-panel-footer {
  min-height: 55px;
  max-height: 55px;
}

.assignment-width {
  min-width: 300px;
}
*/
.border-top {
  /* uses cut-line*/
  border-top: solid 10px black;
}

input[type=checkbox] {
  transform: scale(2.0);
}

.sortable-item {
  transition: all .125s;
  cursor: pointer;
}

.sortable-item.is-dragging {
  transition-duration: 0s;
  background: yellow;
  z-index: 10;
}

.sortable-item.is-dropping {
  z-index: 10;
}

