.active {
  font-weight: bold;
}

.in-modal {
  margin: 10px;
}

.spacing {
  margin: 20px;
}

.double {
  padding-top: 20px;
}

.tight-line {
  line-height: 1.2;
}

.bottom-spacing {
  padding-top: 60px;
}

.ember-basic-dropdown {
  width: auto;
  min-width: 200px;
}

.person-detail {
  margin: 0 -8px;
  display: flex;
}

.action-list {
  padding: 6px;
}

.fixed-panel-header {
  min-height: 60px;
  max-height: 60px;
  /*overflow-y: scroll;*/
}

.fixed-card-footer {
  min-height: 55px;
  max-height: 55px;
  /*overflow-y: scroll;*/
}

.score-height {
  height: 80px;
}
/*.ember-power-select-placeholder {
  min-width: 200px;
}
*/

.assignment-width {
  min-width: 300px;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-header .img-fluid {
  display: block;
  width: auto;
  max-height: 100px;
}

.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}

.smallbox {
  max-height: 200px;
}

.navcenter {
  margin-top: 8px;
}

.points-box {
  max-width: 100px;
}

.launcher {
  width: 200px;
  height: 200px;
}

input[type=checkbox] {
  transform: scale(1.2);
}

.sortable-item {
  transition: all .125s;
  cursor: pointer;
}

.sortable-item.is-dragging {
  transition-duration: 0s;
  background: yellow;
  z-index: 10;
}

.sortable-item.is-dropping {
  z-index: 10;
}

.cut-line {
  border-top: solid 10px black;
}
