.active {
  font-weight: bold;
}

.in-modal {
  margin: 10px;
}

.spacing {
  margin: 20px;
}

.double {
  padding-top: 20px;
}

.max-score {
  max-width: 20px;
}

.panelest-scoretext {
  font-size: 150%;
}

.tight-line {
  line-height: 1.2;
}

.bottom-spacing {
  padding-top: 60px;
}

.ember-basic-dropdown {
  width: auto;
  min-width: 200px;
}

.person-detail {
  margin: 0 -8px;
  display: flex;
}

.action-list {
  padding: 6px;
}

.fixed-panel-header {
  min-height: 60px;
  max-height: 60px;
  /*overflow-y: scroll;*/
}

.fixed-card-footer {
  min-height: 55px;
  max-height: 55px;
  /*overflow-y: scroll;*/
}

.score-height {
  height: 80px;
}
.big-num {
  font-size: 150%;
}
/*.ember-power-select-placeholder {
  min-width: 200px;
}
*/

.assignment-width {
  min-width: 300px;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-header .img-fluid {
  display: block;
  width: auto;
  max-height: 100px;
}

.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}

.smallbox {
  max-height: 200px;
}

.navcenter {
  margin-top: 8px;
}

.points-box {
  max-width: 100px;
}

.launcher {
  width: 200px;
  height: 200px;
}

input[type=checkbox] {
  transform: scale(1.2);
}

.sortable-item {
  transition: all .125s;
  cursor: pointer;
}

.sortable-item.is-dragging {
  transition-duration: 0s;
  background: yellow;
  z-index: 10;
}

.sortable-item.is-dropping {
  z-index: 10;
}

.cut-line {
  border-top: solid 10px black;
}

.btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-penalty {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  padding: 5px 15px;
  height: auto;
}

ul.list-unstyled + ul.list-unstyled {
  margin-top: -1rem;
}

.table thead th.actions {
  width: 190px;
}

#round .card-footer.actions .list-inline,
#appearance-detail .card-footer.actions .list-inline {
  display: flex;
}

#round .card-footer.actions .list-inline li.primary,
#appearance-detail .card-footer.actions .list-inline li.primary {
  margin-right: 6rem;
}

#round .card-footer.actions .list-inline li.pull-right,
#appearance-detail .card-footer.actions .list-inline li.pull-right {
  margin-left: auto;
}

.download-oss-button-wrapper {
  display: flex;
  align-items: center;
}

.warning {
  color: red;
}

.active.btn-outline-dark.disabled,
.active.btn-outline-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  opacity: 1;
}

.list-inline-item.disqualify {
  margin-left: 6em;
}

.environment-name {
  background-color: #ca0404;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px 5px 5px 10px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px 0 0 0;
  text-transform: capitalize;
}

.breadcrumb {
  background-color: #e9ecef;
  padding: .75rem 1rem;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}


@import "ember-power-select";


// Components
@import "components/round-appearance";
