.active {
  font-weight: bold;
}

.in-modal {
  margin: 10px;
}

.spacing {
  margin: 20px;
}

.ember-basic-dropdown {
  width: auto;
  min-width: 200px;
}

.person-detail {
    margin: 0 -8px;
    display: flex;
}

.person-text {
    padding: 6px;
}

.ember-power-select-placeholder {
  min-width: 200px;
}

.assignment-width {
  min-width: 300px;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}
