<section>
    <ol class='breadcrumb'>
      <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      <li class='active'>Chapters</li>
    </ol>
</section>
<section>
  <div>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |chapter|}}
          <tr>
          <td>{{#link-to 'admin.chapters.chapter' chapter}}{{chapter.name}}{{/link-to}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
