<section class='card'>
  <h5 class='card-header'>
    {{model.nomen}}
  </h5>
  <div class='card-body'>
    {{#bs-nav type='tabs' as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "dashboard.conventions.convention.details"}}Details{{/nav.link-to}}
      {{/nav.item}}
      {{!-- {{#nav.item}}
        {{#nav.link-to "dashboard.conventions.convention.assignments"}}Assignments{{/nav.link-to}}
      {{/nav.item}} --}}
      {{#nav.item}}
        {{#nav.link-to "dashboard.conventions.convention.sessions"}}Sessions{{/nav.link-to}}
      {{/nav.item}}
    {{/bs-nav}}
    {{outlet}}
  </div>
  <div class='card-footer'>
    <ul class='list-inline'>
      <li class='pull-right'>
        <h5>
          Convention Status: <strong>{{model.status}}</strong>
        </h5>
      </li>
    </ul>
  </div>
</section>