<section>
  <div class='card'>
    <div class='card-header'>
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='card-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.assignments"}}Assignments{{/nav.link-to}}
        {{/nav.item}}
        {{!-- {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.grantors"}}Grantors{{/nav.link-to}}
        {{/nav.item}} --}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions"}}Sessions{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        <li class='list-inline-item float-right'><h4>Convention Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
