<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.name}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.assignments"}}Assignments{{/nav.link-to}}
        {{/nav.item}}
        {{!-- {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.grantors"}}Grantors{{/nav.link-to}}
        {{/nav.item}} --}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.conventions.convention.sessions"}}Sessions{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='panel-footer fixed-panel-footer'>
      <ul class='list-inline'>
        <li class='pull-right'><h4>Convention Status: <strong>{{model.status}}</strong></h4></li>
      </ul>
    </div>
  </div>
</section>
