<section>
  {{group-repertories model=model}}
</section>
{{#if model.permissions.write}}
  <section>
    <p>
      <strong>Note:</strong>  Please make sure to enter your songs into your Repertory at least 7 days prior to the contest. You can add charts to your Repertory at any time (even after you submit your contest entry). Remember that any chart you perform on stage must be in your Repertory in advance, or you may be disqualified. Our system saves all of your chart entries, so feel free to add every contest song for which your group has copyright clearance (and legal copies of sheet music) - you won't need to do it again for the next contest. For more information, please read the <a href="https://www.barberscore.com/faq">competitor FAQ</a> "What is the policy for adding song titles to our Chart Repertory?"
    </p>
  </section>
{{/if}}
