<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Current Organization</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |organization|}}
          <tr>
            <td>{{#link-to 'admin.organization-manager.organization.details' organization}}{{organization.name}}{{/link-to}}</td>
            <td>{{organization.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(None)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
