<section>
  {{#bs-nav type='tabs' as |nav|}}
    {{#nav.item}}{{#link-to "admin.organization-manager.organization.details"}}Details{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "admin.organization-manager.organization.awards"}}Awards{{/link-to}}{{/nav.item}}
  {{/bs-nav}}
</section>
  {{outlet}}
