<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <ul class='list-inline pull-right'>
        <li>{{#bs-button disabled=isPrevDisabled onClick=(action 'previousItem' model)}}Previous{{/bs-button}}</li>
        <li>{{#bs-button disabled=isNextDisabled onClick=(action 'nextItem' model)}}Next{{/bs-button}}</li>
      </ul>
      <h4>
        {{model.award.name}}
      </h4>
    </div>
    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table'>
          <caption>Contestants: {{model.includedContestantsCount}}</caption>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedContestants as |contestant|}}
              <tr>
                <td>
                  {{contestant.entry.group.name}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td>(No contestants entered for this contest.)</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>