<section>
  <ul class='list-unstyled'>
    <li class='double'>{{download-oss model=model}}</li>
    <li class='double'>{{download-sa model=model}}</li>
    <li class='double'>{{download-titles model=model}}</li>
    <li class='double'>{{download-announcements model=model}}</li>
  </ul>
</section>