<section>
    <ol class='breadcrumb'>
      <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      <li class='active'>Venues</li>
    </ol>
</section>
<section>
  <div>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |venue|}}
          <tr>
          <td>{{#link-to 'admin.venues.venue' venue}}{{venue.name}}{{/link-to}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<p>
{{outlet}}
</p>