<section>
  <div>
    <p class='lead'>
      Here is where you enter your group's repertory.  Any song you plan to perform at contest must be listed here prior to your performance.
    </p>
  </div>
  <div>
    {{group-charts model=model}}
  </div>
</section>