<section class='panel panel-default'>
  <div class='panel-heading'>
    <h3>
      Assistant Details
    </h3>
  </div>
  <div class='panel-body'>
  <p>
    {{#link-to 'admin.person' model.person}}{{model.person.name}}{{/link-to}}
  </p>
  <p>
  {{model.status}}
  </p>
  <p>
  {{model.category}}
  </p>
  <p>
  {{model.kind}}
  </p>
  </div>
</section>
<section>
</section>