<section>
    <ol class='breadcrumb'>
      <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      <li class='active'>Groups</li>
    </ol>
</section>
<section>
  <div>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Kind</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |group|}}
          <tr>
            <td>{{#link-to 'admin.groups.group' group}}{{group.name}}{{/link-to}}</td>
            <td>{{group.kind}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
