<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'organizations'}}Organizations{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>


<section class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      Organization Detail
    </h4>
  </div>
  <div class='panel-body'>
    {{model.name}}
  </div>
</section>
