<section>
  <div class='table-responsive'>
    <table class='table table-hover table-sm'>
      <thead class='thead-light'>
        <tr>
          <th>Kind</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.sortedSessions as |session|}}
          <tr>
            <td>
              <LinkTo @route='dashboard.conventions.convention.sessions.session.details' @model={{session}}>{{session.kind}}</LinkTo>
            </td>
            <td>
              {{session.status}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td>(You do not have any current assignments.  Please check with David Mills or Chris Buechler if you believe this is in error.)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>