<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        {{#bs-form
          model=model
          formLayout='vertical'
          onSubmit=(action 'saveSession')
          as |form|
        }}
          {{#form.element property='is_prelims' as |el|}}
            {{#bs-button-group
              value=el.value
              type='radio'
              onChange=(action (mut el.value))
              as |bg|
            }}
              {{#bg.button type='default' value=false disabled=isDisabled}}No Prelims{{/bg.button}}
              {{#bg.button type='default' value=true disabled=isDisabled}}Yes Prelims{{/bg.button}}
            {{/bs-button-group}}
          {{/form.element}}
          {{#form.element property='kind' useIcons=false as |el|}}
            {{#power-select
                  options=model.kindOptions
                  selected=el.value
                  placeholder="Select Session Kind"
                  onchange=(action (mut el.value))
                  disabled=isDisabled
                  allowClear=true
                  as |kind|
            }}
              {{kind}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='num_rounds' useIcons=false as |el|}}
            {{#power-select
              options=model.numOptions
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Number Rounds"
              disabled=isDisabled
              allowClear=true
              as |num_rounds|
            }}
              {{num_rounds}}
            {{/power-select}}
          {{/form.element}}
          {{#form.element property='primary' useIcons=false as |el|}}
            {{#power-select
                  options=model.contests
                  selected=el.value
                  placeholder="Select Primary Contest"
                  onchange=(action (mut el.value))
                  disabled=isDisabled
                  allowClear=true
                  as |primary|
            }}
              {{primary.nomen}}
            {{/power-select}}
          {{/form.element}}
          {{#bs-button type='default' onClick=(action 'cancelSession')}}Cancel{{/bs-button}}
          {{#bs-button type='primary' buttonType="submit"}}Save{{/bs-button}}
        {{/bs-form}}
      </section>
    </div>
  </div>
</section>
