<div>
  {{#bs-nav type='tabs' as |nav|}}
    {{#nav.item}}
      {{#nav.link-to "admin.contest-manager.convention.sessions.session.details"}}Details{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "admin.contest-manager.convention.sessions.session.contests"}}Awards{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "admin.contest-manager.convention.sessions.session.performers"}}Entrants{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "admin.contest-manager.convention.sessions.session.actions"}}Actions{{/nav.link-to}}
    {{/nav.item}}
  {{/bs-nav}}
  {{outlet}}
</div>
