<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  {{group-index model=model.activeGroups}}
</section>
{{#if model.activeAssignments}}
  <section>
    {{assignment-index model=model.activeAssignments}}
  </section>
{{/if}}
{{outlet}}
