<section class='card'>
    <div class='card-header'>
      <h5>
        {{model.name}}
      </h5>
    </div>
    <div class='card-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.groups.group.details"}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.groups.group.officers"}}Officers{{/nav.link-to}}
        {{/nav.item}}
        {{#if (or (eq model.kind 'International') (eq model.kind 'District'))}}
          {{!-- {{#nav.item}}
            {{#nav.link-to "dashboard.groups.group.children"}}Groups{{/nav.link-to}}
          {{/nav.item}} --}}
        {{else}}
          {{#nav.item}}
            {{#nav.link-to "dashboard.groups.group.members"}}Members{{/nav.link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#nav.link-to "dashboard.groups.group.repertories"}}Repertory{{/nav.link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#nav.link-to "dashboard.groups.group.entries"}}Entries{{/nav.link-to}}
          {{/nav.item}}
        {{/if}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        <li class='pull-right'><h5>Group Status: <strong>{{model.status}}</strong></h5></li>
      </ul>
    </div>
</section>