<section class='card'>
    <div class='card-header'>
      <h5>
        {{model.name}}
      </h5>
    </div>
    <div class='card-body'>
      {{#bs-nav type='tabs' as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.groups.group.details" model.id}}Details{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.groups.group.info" model.id}}Info{{/nav.link-to}}
        {{/nav.item}}
        {{!-- {{#nav.item}}
          {{#nav.link-to "dashboard.groups.group.officers"}}Officers{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.groups.group.members"}}Members{{/nav.link-to}}
        {{/nav.item}} --}}
        {{!-- {{#nav.item}}
          {{#nav.link-to "dashboard.groups.group.repertories" model.id}}Repertory{{/nav.link-to}}
        {{/nav.item}} --}}
        {{#nav.item}}
          {{#nav.link-to "dashboard.groups.group.entries" model.id}}Entries{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}
      {{outlet}}
    </div>
    <div class='card-footer'>
      <ul class='list-inline'>
        <li class='pull-right'><h5>Group Status: <strong>{{model.status}}</strong></h5></li>
      </ul>
    </div>
</section>