<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
    <li class='active'>{{model.name}}</li>
  </ol>
</div>
<ul class='list-inline'>
  {{#each model.sessions as |session|}}
    <li>{{#link-to 'convention.session' session}}{{session.kind}}{{/link-to}}</li>
    {{!-- {{session.kind}} --}}
  {{/each}}
</ul>
<p>
  {{outlet}}
</p>