<div class='row'>
  {{#if (lte model.status 'built')}}
  <div class='col-md-6'>
    By Schedule:
  <ul class='list-inline'>
    {{#each model.rounds as |round|}}
      <li>{{#link-to 'convention.session.round' round}}{{round.kind}}{{/link-to}}</li>
    {{/each}}
  </ul>
  </div>
  {{/if}}
  {{#if (eq model.status 'finished')}}
  <div class='col-md-6'>
  By Contest:
  <ul class='list-inline'>
    {{#each model.contests as |contest|}}
      <li>{{#link-to 'convention.session.contest' contest}}{{contest.award.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
  </div>
  {{/if}}
</div>
<p>
  {{outlet}}
</p>
