<section>
  {{group-members model=model}}
</section>
{{#if (eq model.kind 'Chorus')}}
  <section>
    {{group-reports model=model}}
  </section>
{{/if}}
<section>
  <p>
    <strong>Note:</strong>  If you need to make changes to your membership please do so through the {{member-center}}, which will update here generally within 10 minutes.
  </p>
</section>