<section>
  {{group-members model=model}}
</section>
<section>
  <p>
    <strong>Note:</strong>  If you need to make changes to your membership please do so through the new <a href='https://members.barbershop.org'>Member Center</a>, which will update here generally within 24 hours.
  </p>
</section>
