<section>
  <ul class='list-unstyled'>
    <li class='action-list'>
      {{#bs-button onClick=(action 'activateOfficer') class='form-group' disabled=false}}Activate Role{{/bs-button}}
    </li>
    <li class='action-list'>
      {{#bs-button onClick=(action 'deactivateOfficer') class='form-group' disabled=false}}Deactivate Role{{/bs-button}}
    </li>
  </ul>
</section>
