<section>
  <ul class='list-unstyled'>
    <li class='action-list'>{{#bs-button onClick=(action 'activateOfficer') class='form-group' disabled=false}}Activate{{/bs-button}}</li>
    <li class='action-list'>{{#bs-button onClick=(action 'deactivateOfficer') class='form-group' disabled=false}}Deactivate{{/bs-button}}</li>
    <li class='action-list'>{{#bs-button onClick=(action 'deleteOfficer') class='form-group' type='danger' disabled=false}}Delete{{/bs-button}}</li>
  </ul>
</section>
