<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  <div class='table-responsive'>
    <table class='table'>
      <caption>Your Registered Quartets</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedQuartets as |quartet|}}
          <tr>
            <td>{{#link-to 'admin.quartet-manager.quartet.details' quartet}}{{quartet.name}}{{/link-to}}</td>
            <td>{{quartet.status}}</td>
          </tr>
        {{else}}
          <tr>
            <td>(None)</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
