<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
  </ol>
</div>
<div>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Venue</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |convention|}}
        <tr>
        <td>{{#link-to 'conventions.convention' convention}}{{convention.name}}{{/link-to}}</td>
        <td>{{convention.venue.name}}</td>
        <td>{{date-range convention.date}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
