<section>
  <div class='row'>
    <div class='col-md-12'>
      {{!-- {{#if isSorting}}
        {{#bs-button onClick=(action 'saveOrder')}}Save{{/bs-button}}
      {{else}}
        {{#bs-button onClick=(action (mut isSorting) true)}}Sort{{/bs-button}}
      {{/if}} --}}
      <table class='table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedContests as |contest|}}
            <tr>
              <td>{{#link-to 'dashboard.scoring-manager.round.contests.contest' contest}}{{contest.nomen}}{{/link-to}}</td>
              <td>{{contest.status}}</td>
            </tr>
          {{else}}
            <tr>
              <td>(No contests for this round.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>