<section>
  <div class='row'>
    <div class='col-md-3'>
      {{#bs-nav type="pills" justified=false stacked=true as |nav|}}
        {{#each sortedItems as |submission|}}
          {{#nav.item}}
            {{#nav.link-to 'admin.registration-manager.performer.submissions.submission' submission}}{{submission.title}}{{/nav.link-to}}
          {{/nav.item}}
        {{/each}}
      {{/bs-nav}}
      <section>
      {{#bs-button type='primary' onClick=(action 'newSubmission')}}
        Add Submission
      {{/bs-button}}
      </section>
    </div>
    <div class='col-md-9'>
      {{outlet}}
    </div>
  </div>
</section>
