<div>
  {{#bs-nav type='tabs' as |nav|}}
    {{#nav.item}}
      {{#nav.link-to "admin.registration-manager.performer.details"}}Details{{/nav.link-to}}
    {{/nav.item}}
    {{!-- {{#nav.item}}
      {{#nav.link-to "admin.registration-manager.performer.assignments"}}Administrators{{/nav.link-to}}
    {{/nav.item}} --}}
    {{#nav.item}}
      {{#nav.link-to "admin.registration-manager.performer.contests"}}Awards{{/nav.link-to}}
    {{/nav.item}}
    {{!-- {{#nav.item}}
      {{#nav.link-to "admin.registration-manager.performer.performers"}}Entrants{{/nav.link-to}}
    {{/nav.item}} --}}
  {{/bs-nav}}
  {{outlet}}
</div>
