<div>
  {{#bs-nav type='tabs' as |nav|}}
    {{#nav.item}}
      {{#nav.link-to "admin.registration-manager.performer.details"}}Details{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "admin.registration-manager.performer.contestants"}}Contestants{{/nav.link-to}}
    {{/nav.item}}
    {{#nav.item}}
      {{#nav.link-to "admin.registration-manager.performer.submissions"}}Submissions{{/nav.link-to}}
    {{/nav.item}}
  {{/bs-nav}}
  {{outlet}}
</div>
