<section>
  {{#bs-form
    model=this
    formLayout='vertical'
    as |form|
  }}
    {{#form.element
      controlType='text'
      disabled=true
      placeholder='Primary Award'
      property='primaryCP.award.name'
      as |el|
    }}
      Primary Award: {{el.value}}
    {{/form.element}}
    {{#form.element
      controlType='text'
      disabled=true
      placeholder='Number Rounds'
      property='model.num_rounds'
      as |el|
    }}
      Number Rounds: {{el.value}}
    {{/form.element}}
  {{/bs-form}}
</section>
