<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      {{#power-select
            options=model.contests
            selected=model.primary
            placeholder="Select Primary Contest"
            onchange=(action (mut model.primary))
            allowClear=true
            as |primary|
      }}
        {{primary.nomen}}
      {{/power-select}}
    </div>
  </div>
</section>
