<section>
  <div class='row'>
    <div class='col-md-3'>
  {{#bs-nav type="pills" justified=false stacked=true as |nav|}}
    {{#each sortedPerformers as |performer|}}
      {{#nav.item}}
        {{#nav.link-to 'admin.contest-manager.session.performers.performer' performer}}{{performer.group.name}}{{/nav.link-to}}
      {{/nav.item}}
    {{/each}}
  {{/bs-nav}}
  </div>
  <div class='col-md-9'>
    {{outlet}}
  </div>
  </div>
</section>
