<section class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      Chart Detail
    </h4>
  </div>
  <div class='panel-body'>
  <strong>{{model.name}}</strong>
  <br><br>
    {{#bs-form action="saveChart"}}
      {{#bs-form-group}}
        {{bs-input value=model.title placeholder='Title'}}
      {{/bs-form-group}}
      {{bs-button defaultText="Save " type="primary" buttonType="submit"}}
    {{/bs-form}}
  </div>
</section>

