<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
          Entrant Details: {{model.contest.award.name}}
      </h4>
    </div>
    <div class='panel-body'>
      <p>
        Content
      </p>
    </div>
  </div>
</section>

