<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'conventions'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
    <li class='active'>{{model.kind}}</li>
  </ol>
</div>
<div class='row'>
  {{#if (lte model.status 'Built')}}
  <div class='col-sm-6'>
    By Schedule:
  <ul class='list-inline'>
    {{#each model.rounds as |round|}}
      <li>{{#link-to 'convention.session.round' round}}{{round.kind}}{{/link-to}}</li>
    {{/each}}
  </ul>
  </div>
  {{/if}}
</div>
<p>
  {{outlet}}
</p>
