<div class='table-responsive'>
<table class='table'>
<thead>
</thead>
<tbody>
  {{#each model.performances as |performance|}}
  <tr>
    <td>{{performance.draw}}</td>
    <td>{{performance.name}}</td>
  </tr>
  {{/each}}
</tbody>
</table>
</div>