<section>
  <div class='row'>
    <div class='col-md-3'>
      {{#bs-nav type="pills" justified=false stacked=true as |nav|}}
        {{#each sortedContests as |contest|}}
          {{#nav.item}}
            {{#nav.link-to 'admin.contest-manager.convention.sessions.session.contests.contest' contest}}{{contest.nomen}}{{/nav.link-to}}
          {{/nav.item}}
        {{/each}}
      {{/bs-nav}}
      <section>
        <div class='row'>
          <div class='col-md-10'>
            {{#power-select
              search=(perform searchTask)
              selected=award
              onchange=(action (mut award))
              placeholder="Enter Award for Contest"
              disabled=isDisabled
              allowClear=true
              as |award|
            }}
              {{award.name}}
            {{/power-select}}
          </div>
          <div class='col-md-2'>
            {{#bs-button onClick=(action 'addContest') type='primary' size='sm'}}Add{{/bs-button}}
          </div>
        </div>
      </section>
    </div>
    <div class='col-md-9'>
      {{outlet}}
    </div>
  </div>
</section>
