<section>
  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
</section>
<section>
  {{group-index model=model}}
</section>
<section>
  <div class='row'>
    <div class='col-md-6'>
      <p>
        <strong>Note:</strong> If your group is not listed, please review your memberships in the <a href='https://members.barbershop.org'>BHS Member Center</a> and ensure you are the admin contact for your quartet or a designated Chapter Leader of your chorus (limited to: President, Secretary, Director, Assistant or Associate Director, and Chorus Manager).
      </p>
      <p>
        <strong>Note to New Quartets:</strong> Please be aware that newly registered quartets are not “completed” (fully registered) in the Member Center until BHS headquarters has: approved the quartet name; processed the subscription fee; and finished their final validation by updating the Member Center record. <em>This process can take up to 5 business days.</em>
      </p>
    </div>
  </div>
</section>
