<section>
  {{group-repertories model=model}}
</section>
{{#if model.permissions.write}}
  <section>
    <p>
      <strong>Note:</strong>  You can add to your Repertory at any time (even after you submit your contest entry).  Remember that any song you sing on stage must be in your Repertory <em>before</em> your performance or you may be disqualified.  The Repertory saves all entries, so feel free to add every song for which you have copyright clearance; you won't need to do it again next contest.
    </p>
  </section>
{{/if}}
