<div class='col-md-6'>
<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <h4>
        (New Addition to Repertory)
      </h4>
    </div>
    <div class='panel-body'>
      <section>
          {{#bs-form
            formLayout="vertical"
            model=model
            onSubmit=(perform saveRepertory)
            as |form|
          }}
            {{#form.element property='chart' useIcons=false as |el|}}
              {{#power-select
                search=(perform searchChart)
                selected=el.value
                onchange=(action (mut el.value))
                placeholder="Enter Song Title"
                allowClear=true
                renderInPlace=true
                as |chart|
              }}
                Song: {{chart.nomen}}
              {{/power-select}}
            {{/form.element}}
            {{#bs-button type='default' onClick=(action "clearRepertory")}}Cancel{{/bs-button}}
            {{#bs-button type='success' buttonType='submit'}}Save{{/bs-button}}
          {{/bs-form}}
      </section>
      <section>
          <p>
            <strong>Note:</strong>  If you can't find your chart through this search box, please send an email with the first page of the chart to charts@barberscore.com.  It can be a PDF if you have it, or just a picture from your camera phone!  We'll add it to your repertory ASAP.
          </p>
      </section>
    </div>
  </div>
</section>
</div>