
{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}

<section>
  {{#power-select
        search=(perform searchTask)
        selected=session
        options=contestAssignments
        onchange=(action "transitionSession")
        placeholder="Enter Contest Name"
        allowClear=true
        as |session|
  }}
    {{session.nomen}}
  {{/power-select}}
</section>

<section>
  {{outlet}}
</section>

