{{bread-crumbs}}
<section>
  <ul class='list-unstyled'>
    <li>{{#link-to 'admin.cm'}}Contest Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.sm'}}Scoring Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.jm'}}Certification Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.qm'}}Quartet Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.qm'}}Chorus Manager{{/link-to}}</li>
    <li>Award Manager</li>
    <li>Chart Manager</li>
    <li>Convention Manager</li>
  </ul>
  <p>{{#link-to 'admin.conventions'}}Conventions{{/link-to}}</p>
  <p>{{#link-to 'admin.organizations'}}Organizations{{/link-to}}</p>
  <p>{{#link-to 'admin.awards'}}Awards{{/link-to}}</p>
  <p>{{#link-to 'admin.charts'}}Charts{{/link-to}}</p>
  <p>{{#link-to 'admin.chapters'}}Chapters{{/link-to}}</p>
  <p>{{#link-to 'admin.groups'}}Groups{{/link-to}}</p>
  <p>{{#link-to 'admin.persons'}}Persons{{/link-to}}</p>
  <p>{{#link-to 'admin.venues'}}Venues{{/link-to}}</p>
</section>
