<section>
    <ol class='breadcrumb'>
      <li class='active'>{{#link-to 'admin'}}Admin{{/link-to}}</li>
    </ol>
</section>
<section>
  <p>{{#link-to 'admin.conventions'}}Conventions{{/link-to}}</p>
  <p>{{#link-to 'admin.organizations'}}Organizations{{/link-to}}</p>
  <p>{{#link-to 'admin.awards'}}Awards{{/link-to}}</p>
  <p>{{#link-to 'admin.charts'}}Charts{{/link-to}}</p>
  <p>{{#link-to 'admin.chapters'}}Chapters{{/link-to}}</p>
  <p>{{#link-to 'admin.groups'}}Groups{{/link-to}}</p>
  <p>{{#link-to 'admin.persons'}}Persons{{/link-to}}</p>
  <p>{{#link-to 'admin.venues'}}Venues{{/link-to}}</p>
</section>
