{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <ul class='list-unstyled'>
    <li>{{#link-to 'admin.contest-manager'}}Contest Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.sm'}}Scoring Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.jm'}}Certification Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.qm'}}Quartet Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.hm'}}Chorus Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.dm'}}District Manager{{/link-to}}</li>
    <li>{{#link-to 'admin.mm'}}Member Manager{{/link-to}}</li>
  </ul>
</section>
