{{!-- {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}} --}}
<section>
  <table class='table'>
    <caption>Current Quartets</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |quartet|}}
        <tr>
          <td>
            {{#link-to 'admin.quartet-manager.quartet' quartet}}{{quartet.name}}{{/link-to}}
          </td>
          <td>
            {{quartet.status}}
          </td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</section>

<section>
  {{outlet}}
</section>
