<div>
  <div class='jumbotron'>
    <section>
      <p>
          Barberscore tracks scores and schedules for conventions of the Barbershop Harmony Society.
      </p>
      <p>
          Quick link to <a href='convention/76147ae7-cb61-4037-a769-245af24294cd'>Reno Midwinter Seniors Contest</a>.
      </p>
      <p>
        <strong>Note:</strong>  The site is currently under significant development; expect changes on a daily basis and frequent downtime.
      </p>
    </section>
  </div>
  <div class="footer bottom-bar">
    <ul class="nav nav-pills">
      <li>{{#link-to 'public.about'}}About{{/link-to}}</li>
      <li>{{#link-to 'public.faq'}}FAQ{{/link-to}}</li>
    </ul>
  </div>
</div>