<div>
  <div class='jumbotron'>
    <section>
      <p>
          Barberscore tracks scores and schedules for conventions of the Barbershop Harmony Society.
      </p>
      <p>
          Quick link to the <a href='convention/79f98a15-3445-40e8-a623-67931b9db600'>Nashville International Convention</a>.
      </p>
      <p>
        <strong>Note:</strong>  The site is currently under significant development; expect changes on a daily basis and frequent downtime.  Please report any inaccuracies or updates to <a href='mailto:russkibass@barbershopharmony.org'>Alexander Boltenko</a>.
      </p>
    </section>
  </div>
  <div class="footer bottom-bar">
    <ul class="nav nav-pills">
      <li>{{#link-to 'public.about'}}About{{/link-to}}</li>
      <li>{{#link-to 'public.faq'}}FAQ{{/link-to}}</li>
      <li class='pull-right'><a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a></li>
    </ul>
  </div>
</div>