{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      Person Detail
    </h4>
  </div>
  <div class='panel-body'>
    {{model.name}}
  </div>
</section>
