{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<section>
  <div>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Venue</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each recentConventions as |convention|}}
          <tr>
          <td>{{#link-to 'public.convention' convention}}{{convention.name}}{{/link-to}}</td>
          <td>{{venue-short convention.venue}}</td>
          <td>{{convention.start_date}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
