<section>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th>Person</th>
            <th>Category</th>
            <th>Kind</th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedPanelists as |panelist|}}
            <tr>
              <td>
                {{search-person model=panelist}}
              </td>
              <td>
                {{panelist.category}}
              </td>
              <td>
                {{panelist.kind}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td>Panel is initialized when the session is started.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>