<section>
  <div class='panel panel-default'>
    <div class='panel-heading fixed-panel-header'>
      <h4>(New Panelist)</h4>
    </div>
    <div class='panel-body'>
      {{#bs-form
        model=model
        formLayout='vertical'
        onSubmit=(action 'savePanelist')
        as |form|
      }}
        {{#form.element property='person' as |el|}}
            {{#power-select
              search=(perform searchPerson)
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Person Name"
              allowClear=true
              as |person|
            }}
              Person: {{person.fullName}}
            {{/power-select}}
        {{/form.element}}
        {{#form.element property='category' useIcons=false as |el|}}
          {{#power-select
            options=categoryOptions
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Category"
            disabled=isDisabled
            allowClear=true
            as |category|
          }}
            Category: {{category}}
          {{/power-select}}
        {{/form.element}}
        {{#form.element property='kind' useIcons=false as |el|}}
          {{#power-select
            options=kindOptions
            selected=el.value
            onchange=(action (mut el.value))
            placeholder="Enter Kind"
            disabled=isDisabled
            allowClear=true
            as |kind|
          }}
            Kind: {{kind}}
          {{/power-select}}
        {{/form.element}}
        {{#bs-button type="default" onClick=(action 'cancelPanelist')}}Cancel{{/bs-button}}
        {{#bs-button type="primary" buttonType="submit"}}Save{{/bs-button}}
      {{/bs-form}}
    </div>
  </div>
</section>
