<section>
  {{session-convention model=model}}
</section>
<hr>
<section>
  {{convention-assignments model=model.convention}}
</section>
<hr>
{{!-- <section>
  {{convention-grantors model=model.convention}}
</section> --}}
