<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>
      {{model.nomen}}
    </h4>
  </div>
  <div class='panel-body'>
    <div>
      <ul class='list-style'>
        {{#each sortedContestants as |contestant|}}
          <li>{{contestant.performer.entity.name}}</li>
        {{else}}
          <li>(No contestants for this contest.)</li>
        {{/each}}
      </ul>
    </div>
    <section>
      <div class='row'>
        <div class='col-md-10'>
          {{#power-select
            options=model.session.performers
            selected=performer
            onchange=(action (mut performer))
            placeholder="Enter Peformer for Contest"
            disabled=isDisabled
            allowClear=true
            as |performer|
          }}
            {{performer.nomen}}
          {{/power-select}}
        </div>
        <div class='col-md-2'>
          {{#bs-button onClick=(action 'addContestant') type='primary' size='sm'}}Add{{/bs-button}}
        </div>
      </div>
    </section>
  </div>
</div>
