<div class='row'>
  <div class='col-xs-6'>
    {{#power-select
      options=sortedContests
      placeholder='Search by Contest Name'
      selected=contest
      onchange=(action (mut contest))
      class='assignment-width'
      allowClear=true
      as |contest|
    }}
      {{contest.award.name}}
    {{/power-select}}
  </div>
  <div class='col-xs-2'>
    {{bs-button defaultText="Add" type="primary" action=(action 'saveRecord')}}
  </div>
</div>
