<section>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th class='col-md-4'>Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |round|}}
            <tr>
              <td>{{#link-to 'rounds.round.appearances' round}}{{round.nomen}}{{/link-to}}</td>
            </tr>
          {{else}}
            <tr>
              <td>(No groups currently entered for this session.)</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>