<h3>
  Announcements
</h3>
<h4>{{model.name}}</h4>
<section>
<h3>
Evaluations
</h3>
<ul class='list-unstyled'>
  <li>Evauations Start</li>
  <li>Minutes per Round</li>
  <li>Contestants per Round</li>
  <li>2 Round Start</li>
  <li>Locations</li>
</ul>
</section>
<section>
<ul class='list-unstyled'>
  {{#each sortedContests as |contest|}}
    <li>{{contest.name}}</li>
    <ul class='list-unstyled'>
    {{#each contest.contestants as |contestant|}}
    <li>{{contestant.rank}} - {{contestant.name}}</li>
    {{/each}}
    </ul>
  {{/each}}
</ul>
</section>
