<h3>Contest Administrator</h3>
<div>
  <ol class='breadcrumb'>
    <li>{{#link-to 'admin'}}Conventions{{/link-to}}</li>
    <li>{{#link-to 'admin.convention' model.convention}}{{model.convention.name}}{{/link-to}}</li>
    <li>{{#link-to 'admin.convention.session' model}}{{model.kind}}{{/link-to}}</li>
    <li class='active'>Publish</li>
  </ol>
</div>
