<section>
	{{#if this.model.roundsFinalized }}
    <ul class='list-unstyled'>
      <li class='double'>{{download-bbstix model=this.model}}</li>
      <li class='double'>{{download-bbstix-practice model=this.model}}</li>
    </ul>
  {{else}}
    <p>
      BBSTIX reports are available after all Rounds have reached a status of "Finalized" or "Published".
    </p>
  {{/if}}
</section>