<div>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |group|}}
        <tr>
          <td>
            {{#link-to 'groups.group' group}}{{group.name}}{{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
