  <div class="page-header">
    <h1>About Barberscore</h1>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <p>
        Barberscore started as hobby project managed by volunteers to help keep track of competitors at the International Convention.  It has since grown to become the official contest registration and scoring system for the Society &mdash; although it is still managed by volunteers!
      </p>
      <p>
        The long-term plan is to fully merge Barberscore into the Member Center and make it a permanent part of the Society's services.  Great thanks go to David Binetti, Alexander Boltenko, Chris Buechler and David Mills for their efforts in making Barberscore a reality.
      </p>
    </div>
  </div>
{{#bs-navbar toggleBreakpoint=null position='fixed-bottom' as |navbar|}}
  {{#navbar.content}}
    {{#navbar.nav type='pills' class='mr-4 nav-pills' as |nav|}}
      {{#nav.item}}
        {{#link-to 'about'}}About{{/link-to}}
      {{/nav.item}}
      &nbsp;&nbsp;&nbsp;
      {{#nav.item}}
        {{#link-to 'faq'}}FAQ{{/link-to}}
      {{/nav.item}}
      &nbsp;&nbsp;&nbsp;
      {{#nav.item}}
        {{#link-to 'tutorials'}}Tutorials{{/link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}