<p>
  {{model.name}}
</p>
<ul class='list-inline'>
  {{#each model.sessions as |session|}}
    <li>{{#link-to 'convention.session' session}}{{session.name}}{{/link-to}}</li>
  {{/each}}
</ul>
<p>
  {{outlet}}
</p>