<div>
  <h2>Barberscore Frequently Asked Questions</h2>
<br>
<!-- #######  Updated by DM on 2/8/2018 #########-->
<p><em>As a reminder - you should also read and review the Competitor Instructions tutorial PDF slide decks in addition to reading this list of frequently asked questions... </em></p>
<p><a href="https://www.barberscore.com/assets/QuartetEntryTutorial.pdf"><strong>Review this tutorial for quartet contest entry</strong></a></p>
<p><a href="https://www.barberscore.com/assets/ChorusEntryTutorial.pdf"><strong>Review this tutorial for chorus contest entry</strong></a></p>
<p>&nbsp;</p>
<p><strong><u>Competitor FAQs &ndash; Contest Entry in Barberscore</u></strong></p>
<p>&nbsp;</p>
<p><strong>I don't see my group in Group Manager &ndash; what is the issue?</strong></p>
<p><strong><em>For Choruses</em></strong>: Only Chapter Leaders have access to Barberscore. Most likely you have not been identified as one of the Chapter Leaders in the BHS Member Center. If you have been (and you&rsquo;re not seeing your chorus listed) &ndash; submit an inquiry to report the situation to <a href="mailto:customerservice@barbershop.org">customerservice@barbershop.org</a>. If you need to be added as a Chapter Leader &ndash; please communicate with your Chapter President, Secretary, or Treasurer &ndash; only those 3 roles have permissions to change or add Chapter Leaders in the BHS Member Center.</p>
<p><strong><em>For Quartets</em></strong>: There are two common issues. (1) You must be a current member of the quartet (as indicated in the Member Center), and you must also be an active BHS member. (2) If your quartet was just recently registered in the Member Center, please be aware that newly registered quartets are not &ldquo;completed&rdquo; (fully registered) in the Member Center until BHS headquarters has: approved the quartet name; processed the subscription fee; and finished the final validation by updating their MC record. <strong><em>This process can take up to 5 business days</em></strong>.</p>
<p>&nbsp;</p>
<p><strong>I can't even login to Barberscore &ndash; what is the issue?</strong></p>
<p>Fortunately, this is now a rare occurrence. Today the most common problems are:</p>
<ul>
<li>You are not using the correct email address associated with your BHS Member Center record.</li>
<li>You have not read the <em>Login Instructions</em> tutorial PDF, and/or you haven&rsquo;t watched the additional short videos explaining how to troubleshoot login issues.</li>
</ul>
<p>If those resources don&rsquo;t help, please request assistance from: <a href="mailto:customerservice@barbershop.org">customerservice@barbershop.org</a>.</p>
<p>&nbsp;</p>
<p><strong>How long does it take changes that I make in Member Center to get reflected in Barberscore?</strong></p>
<p>We run a background sync process several times throughout the day. Therefore, any new data (or changed data) in the Member Center should be reflected in Barberscore no later than the next day.</p>
<p><strong>However, there is an exception</strong>. Please be aware that brand-new quartets are not &ldquo;completed&rdquo; in the Member Center until BHS headquarters has: approved their quartet name; processed their subscription fee; and finished the final validation. <strong><em>This process can take up to 5 business days</em></strong>.</p>
<p>Please remember that data is not refreshed in your browser window automatically in Barberscore. To ensure you&rsquo;re viewing the most recent data, perform an explicit &ldquo;reload&rdquo; or &ldquo;refresh&rdquo; of the web page. If you suspect that a data sync issue has occurred involving member or group info, please submit the query to: <a href="mailto:customerservice@barbershop.org">customerservice@barbershop.org</a>.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Should I be concerned if I form a new quartet right before the contest entry deadline?</strong></p>
<p>YES, (this is a critical issue)! Please be aware that newly registered quartets are not &ldquo;completed&rdquo; (fully registered) in the Member Center until BHS headquarters has: approved their quartet name; processed their subscription fee; and finished the final validation by updating their MC record. <strong><em>This process can take up to 5 business days</em></strong>.</p>
<p>Members that may be considering the formation of a new quartet should be getting their quartet registered in Member Center at least one week in advance of their contest entry deadline. Any new quartet failing to comply might still be allowed to compete, but would perhaps not be part of the official &ldquo;draw&rdquo; for singing order appearance and might have to sing first (or last). Please communicate with your DRCJ if you are having a problem or if you are anticipating an issue with this.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>How do I know which awards/contests I should select?</strong></p>
<p>Prior to submission, your initial contest entry page will list all of the available awards/contests for that Contest Session, but none are selected. Most quartets and choruses will only be eligible for certain awards or contests &ndash; normally just one or two of them. Prior to submitting your entry, you should click the <strong>check box</strong> next to those contests for which you are eligible. Please read the description text field next to each one to determine which may be appropriate for your group.</p>
<p>If you&rsquo;re not sure, contact your DRCJ. There is also a notes/comments box on your entry submission that you can use to communicate information to your DRCJ. You can do this either before or after you submit your entry. If it is not correct, you can go back later in to adjust your entry to reflect the appropriate awards/contests for which your group is eligible.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Do I have to add all of our contest songs to our repertory prior to submitting our contest entry?</strong></p>
<p>No. You can add songs to your chart repertory at any time. However, you are reminded that your songs must be added to your repertory prior to singing them on stage. Ideally, we would prefer that this is accomplished no later than one week before the contest, so that we can prepare to properly display the chart information on the Official Scoring Summary (OSS).</p>
<p>Also &ndash; please remember that you are responsible for your charts. By adding the chart, you are declaring and verifying that your group has purchased or has otherwise legally obtained copies of this chart for every member of your group. Any copyright legality issues discovered after you have performed a chart at a contest could possibly lead to a post-contest disqualification.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Our quartet has more than 4 songs in our repertory &ndash; do we have to tell you which 4 songs we plan to sing in contest?</strong></p>
<p>No. As long as the songs you do sing are among the list of charts in your repertory, you&rsquo;re good. However, it is a good idea to occasionally remove any extra charts that you will no longer perform in any future contest to minimize the &ldquo;clutter&rdquo; &ndash; but this is certainly not required.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>I don&rsquo;t know exactly which members of my chorus will be performing at contest yet &ndash; should I wait until I do to submit our contest entry?</strong></p>
<p>No. The list of chapter members is there for your reference and information only. It is the responsibility of the Chapter Secretary to verify with the DRCJ that everyone who performs on stage is: a member of your chapter; is current with their chapter, district, and BHS member dues; and has a full convention registration. This can be done at any time. With the exception of the International Chorus contest, you don&rsquo;t have to submit a specific list of names prior to the contest.</p>
<p>&nbsp;</p>
<p><strong>We have more than 4 current members in our quartet &ndash; how do we designate which 4 men will be performing on stage for this contest entry?</strong></p>
<p>In the rare circumstance that your quartet is maintaining more than 4 members officially in the Member Center &ndash; all of those names will be listed on your contest entry page. It is your responsibility to identify which 4 members (and their voice parts) will be performing for this contest entry using the notes/comments box towards the bottom of your online contest entry. Please fill in that information when you submit your entry. Your entry will not be approved until this has been clarified.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>One of our quartet members is missing on our contest entry page &ndash; what is the issue?</strong></p>
<p>The members of your quartet are directly derived from the BHS Member Center. If someone is missing, they are likely not listed as a &ldquo;current&rdquo; member of you quartet in the Member Center, or perhaps their BHS membership has now expired. It is your responsibility to remedy the situation in the Member Center prior to submitting your contest entry.</p>
<p>&nbsp;</p>
<p><strong>One of our quartet members shows that he has an expired membership &ndash; can we still submit our contest entry?</strong></p>
<p>Yes. However it is important to get that situation resolved prior to your contest appearance. Your quartet will be disqualified if all 4 members are not active and current as of the day of contest.</p>
<p>&nbsp;</p>
<p><strong>Several of our chapter members show that they have an expired membership &ndash; can we still submit our contest entry for our chorus?</strong></p>
<p>Yes. Most chapters have inactive members from time to time with lapsed memberships. As long as none of those men appear on stage during your contest performance, all is fine. However, if any of those will be performing, it is important to get that situation resolved prior to your contest appearance. Your chorus will be disqualified if any performer is not an active and current member of your chapter as of the day of contest.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>How do I enter a non-BHS group (such as a Mixed Harmony quartet) into a contest session?</strong></p>
<p>Groups other than a chorus that represents a BHS chapter or an officially registered BHS quartet will not be able to enter any contest until they have been added manually via the backend API by a Barberscore Admin. &ldquo;Non-BHS groups&rdquo; include the following: VLQs, Mixed Harmony quartets, Mixed Harmony choruses, Youth quartets, Youth choruses, community or school choirs, and female quartets or choruses (regardless of whether or not they are registered with HI or SAI). If you wish to enter a contest session for score and/or evaluation, the process is the same. Simply gather the following information about your group:</p>
<ul>
<li>The &ldquo;official&rdquo; group name (it does not have to be unique or &ldquo;registered&rdquo; anywhere)</li>
<li>Location (City, State/Province) of the group</li>
<li>Contact person (that will serve as the group admin for contest entry) full name &amp; email. If they are a BHS member or BHS associate, provide their BHS ID number.</li>
<li>Director name (for choruses or choirs). If they are a BHS member or BHS associate, provide their BHS ID number.</li>
<li>For quartets &ndash; the name of each singer and their voice part. If they are a BHS member or BHS associate, provide their BHS ID number &ndash; if not, provide their email address.</li>
</ul>
<p>&hellip;then email your request (with this information) to have your group added to Barberscore to the DRCJ of the district, or you can send to: <a href="mailto:customerservice@barbershop.org">customerservice@barbershop.org</a></p>
<p>&nbsp;</p>
<p>Once we have added the information into Barberscore, the group admin can &ldquo;enter&rdquo; the contest via Group Manager in Barberscore just the same as any other competitor. Of course they should be selecting only the applicable awards (if any) for the group, otherwise it would be for score/eval only.</p>
<p>&nbsp;</p>
<p><strong>Does the mic-tester quartet need to "enter" the contest session via Barberscore?</strong></p>
<p>No. However, if any performing quartet or chorus serving as a mic-tester or mic-cooler desires scores from the judging panel (and/or evaluations) &ndash; then they need to &ldquo;enter&rdquo; the contest session via Group Manager in Barberscore just as any other competitor would for score/eval only.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>How do I enter my quartet or chorus into a contest for score/eval only?</strong></p>
<p>All competitors will enter the contest session via Group Manager in Barberscore in the same manner. For those groups that are not eligible for any of the available awards/contests &ndash; (or perhaps they are, but they simply prefer to NOT officially compete) &ndash; you simply don&rsquo;t select any award/contest prior to submitting your entry. In addition, you must choose to <strong>Keep Score Private</strong>, by clicking the <em>Keep Scores Private</em> button. Be aware that your scores will not appear on the Official Scoring Summary (OSS) that is distributed to the public, but instead, your group will only receive a Contest Scoring Analysis (CSA) sheet instead.</p>
<p>Please note: For any group that is actually competing for one or more awards, selecting the <em>Keep Score Private</em> button will not be allowed. Those scores must be included on the OSS.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>What is the process for entering my quartet into another district&rsquo;s International Preliminary Quartet contest? How do we register to compete OOD (out-of-district)?</strong></p>
<p>Per the official BHS Contest &amp; Judging rules, you must first obtain the appropriate permissions in advance to compete outside of your designated home district. These instructions are available in the <a href="http://www.barbershop.org/files/documents/contestandjudging/C&amp;J%20Handbook.pdf">BHS Contest Rules</a> (Article I.A.4).</p>
<p>Once approved (and once that district&rsquo;s contest session is open for competitor entry) &ndash; go to Group Manager in Barberscore, and select the contest you have been approved to enter (you will see a drop-down list of ALL contest sessions that are open for competitor entry). Of course the only contest award you should select will be the International quartet preliminary contest. Your group is not eligible to compete for any other district awards. If your quartet scores a 76+, it will be listed along with all of the other quartets in that district that qualified for International.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Can I enter my quartet or chorus into a different division contest within my district?</strong></p>
<p>Normally yes. To be clear, most districts allow for quartets or choruses to enter and compete in a different division contest, however, some require approval in advance, some do not. First, check with your District Representative for Contest and Judging (DRCJ). If it is allowed/approved then you should go to Group Manager in Barberscore, and simply select the contest you wish to enter (you will see a drop-down list of ALL contest sessions that are open for submitting competitor entries &ndash; even those that are in other districts). The rest of the entry process remains the same. However, the only contest awards you should select will be those that involve qualifying for some future District-level contest or award. You will not be allowed to compete for any &ldquo;division-level&rdquo; awards.</p>
