    <div class="page-header">
      <h1>Frequently Asked Questions</h1>
    </div>

    <div class="row">
      <div class="col-md-8">

        <h4>
          Why did you create this?
        </h4>
        <p id='faq-01' >
          We just wanted a simple, mobile-optimized site to see the schedule, scores, and detailed information on each contestant.  It's free, and we don't use your information or anything like that.  Just barbershoppers helping barbershoppers.
        </p>

        <h4>
          Why did you disable public access?
        </h4>
        <p id='faq-07' >
          This started as a hobby project.  However, we have since been asked to build an application to potentially replace the existing scoring software.  It's a bit too difficult to manage both projects at once, and so we're focusing on scoring project first.  When that is done (or reasonably stable) we'll re-enable public access.
        </p>

        {{!-- <h4>Is there an iOS or Android version?</h4>
        <p id='faq-02' >No, there aren't dedicated apps.  However, you can access it quite easily through a web browser on either platform.  This is backed by a RESTful API, so if you know what that means and want to create an app then let us know and we'll send you a key!</p>

        <h4>When do you update information?</h4>
        <p id='faq-03' >We are adding information like song titles and scores just as soon as they become available.</p>

        <h4>What about historical scores?</h4>
        <p id='faq-04' >We are adding history every day, but will only report scores back to 1994 (when the current scoring system was put into place.)</p>

        <h4>What if I find some bad information?</h4>
        <p id='faq-05' >Send us an <a href='mailto://russkibass@barbershopharmony.org'>email</a> so we can fix it! </p> --}}

        <h4>Who are you guys, anyway?</h4>
        <p id='faq-06' >We are <a href='http://dbinetti.com'>David Binetti</a> (developer) and <a href='https://twitter.com/russkibasstampa'>Alexander Boltenko</a> (data-master).  </p>


      </div><!--/col-grid-->
    </div><!-- /row-->