<div class="jumbotron ">
  <p class='lead'>
    Barberscore is the Contest Manager for the Barbershop Harmony Society.
  </p>
  <p>Contest entry and song repertory management is now handled via the <a href="https://members.barbershop.org">Member Center</a>.</p>

  {{!-- <p>
    {{#power-select
      search=(perform searchGroup)
      selected=group
      onchange=(action (mut group))
      placeholder="Enter Group Name"
      allowClear=true
      renderInPlace=true
      noMatchesMessage="We Could Not Find an Active Group with that Name"
      as |group|
    }}
      Group: {{group.name}} {{#if group.parent.shortName}}({{group.parent.shortName}}){{/if}}
    {{/power-select}}
  </p>
  <p>
    {{group.name}}
  </p> --}}
</div>