<div class="jumbotron ">
  <p class='lead'>
    Barberscore is the new Contest Manager for the Barbershop Harmony Society.
  </p>
  <p>
    To login, click the the Login link in the upper right-hand corner of your browser window.
  </p>
  {{!-- <p>
    {{#power-select
      search=(perform searchGroup)
      selected=group
      onchange=(action (mut group))
      placeholder="Enter Group Name"
      allowClear=true
      renderInPlace=true
      noMatchesMessage="We Could Not Find an Active Group with that Name"
      as |group|
    }}
      Group: {{group.name}} {{#if group.parent.shortName}}({{group.parent.shortName}}){{/if}}
    {{/power-select}}
  </p>
  <p>
    {{group.name}}
  </p> --}}
</div>
{{#bs-navbar toggleBreakpoint=null position='fixed-bottom' as |navbar|}}
  {{#navbar.content}}
    {{#navbar.nav type='pills' class='mr-4 nav-pills' as |nav|}}
      {{#nav.item}}
        {{#link-to 'about'}}About{{/link-to}}
      {{/nav.item}}
      &nbsp;&nbsp;&nbsp;
      {{#nav.item}}
        {{#link-to 'faq'}}FAQ{{/link-to}}
      {{/nav.item}}
      &nbsp;&nbsp;&nbsp;
      {{#nav.item}}
        {{#link-to 'tutorials'}}Tutorials{{/link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}