<div class="jumbotron">
  <p>
    Barberscore is the new Contest Manager for the Barbershop Harmony Society.
  </p>
  <p>
    To login, click the the Login link in the upper right-hand corner of your browser window.
  </p>
  <h4>
    NOTE:  We are currently experiencing problems syncing with the Member Center.  We expect to have it resolved by Monday, August 20.
  </h4>
  {{!-- <p>
    {{#power-select
      search=(perform searchGroup)
      selected=group
      onchange=(action (mut group))
      placeholder="Enter Group Name"
      allowClear=true
      renderInPlace=true
      noMatchesMessage="We Could Not Find an Active Group with that Name"
      as |group|
    }}
      Group: {{group.name}} {{#if group.parent.shortName}}({{group.parent.shortName}}){{/if}}
    {{/power-select}}
  </p>
  <p>
    {{group.name}}
  </p> --}}
</div>
