<div class="jumbotron">
<p>Barberscore is the new Contest Manager for the Barbershop Harmony Society and is currently being used
 for the Fall 2017 Contest season.</p>
<p>A list of all conventions, judging assignments, and DRCJ info is located <a href="https://docs.google.com/document/d/1EKb9YFtCWZj9QhUBSOhTIhgiyyrp1ZsV-I-oi4u942Y/edit?usp=sharing" target="_blank" rel="noopener">here</a>.</p>
<p>If you are the contact person for your quartet or an administrator for your chapter, you should have
 already received an email inviting you to enter your group into a Fall contest. If not (and your group 
 is eligible to compete), click the Login link in the upper right hand corner to get started.</p>
<p>Click the Tutorials link (bottom of page) to learn more about using Group Manager. If you still have
 additional questions, please contact your District Representative for Contest &amp; Judging (DRCJ).</p>
<p>For your convenience, here are the contest results from the 2017 BHS International Convention:</p>
<ul class="list-unstyled">
<li><a href="http://www.barbershop.org/files/INTL20170704_QF.OSS12345.pdf">Youth Quartet</a></li>
<li><a href="http://www.barbershop.org/files/INTL20170705_CF.OSS1.pdf">International Chorus</a></li>
<li><a href="http://www.barbershop.org/files/INTL20170705_QQ.OSS12.pdf">International Quartet Quarter-Finals</a></li>
<li><a href="http://www.barbershop.org/files/INTL20170705_QS.OSS12.pdf">International Quartet Semi-Finals</a></li>
<li><a href="http://www.barbershop.org/files/INTL20170705_QF.OSS1.pdf">International Quartet Finals</a></li>
</ul>
</div>
<div class="footer bottom-bar">
  <ul class="nav nav-pills">
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'faq'}}FAQ{{/link-to}}</li>
    <li>{{#link-to 'tutorials'}}Tutorials{{/link-to}}</li>
    {{!-- <li class='pull-right'><a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a></li> --}}
  </ul>
</div>
