<div class='jumbotron'>
  <p>
    Barberscore is the new Contest Manager for the Barbershop Harmony Society.
  </p>
  <p>
    If you are the authorized representative for a chorus or quartet participating in the 2017 International Contest please {{#link-to 'login'}}Login{{/link-to}}.
  </p>
  <p>
    <strong>New Feature!</strong>  See competitor detail and song choices with arrangers!
  </p>
  <ul class='list-unstyled'>
    {{#each sortedRounds as |round|}}
      <tr>
        <td>{{#link-to 'rounds.round.appearances' round}}{{round.nomen}}{{/link-to}}</td>
      </tr>
    {{else}}
      <tr>
        <td>(No current rounds!)</td>
      </tr>
    {{/each}}
  </ul>
</div>
<div class="footer bottom-bar">
  <ul class="nav nav-pills">
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'faq'}}FAQ{{/link-to}}</li>
    {{!-- <li class='pull-right'><a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a></li> --}}
  </ul>
</div>