<div class="jumbotron">
  <p>
    Barberscore is the new Contest Manager for the Barbershop Harmony Society.
  </p>
  <p>
    We are currently preparing for the Midwinter and Spring Contest season; please check back soon for updates.
  </p>
</div>
