<div>
  <div class='jumbotron'>
    <section>
      <p>
          Barberscore tracks scores and schedules for conventions of the Barbershop Harmony Society.
      </p>
      <p>
        <strong>Note:</strong>  The site is currently under significant development; expect changes on a daily basis and frequent downtime.
      </p>
    </section>
  </div>
  <div class="footer bottom-bar">
    <ul class="nav nav-pills">
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'faq'}}FAQ{{/link-to}}</li>
    </ul>
  </div>
</div>