<div class="jumbotron mt-3">
  <h3 class='display-4'>
    Barberscore is the new Contest Manager for the Barbershop Harmony Society.
  </h3>
  <h4 class='h4 pt-5'>
    To login, click the the Login link in the upper right-hand corner of your browser window.
  </h4>
  {{!-- <p>
    {{#power-select
      search=(perform searchGroup)
      selected=group
      onchange=(action (mut group))
      placeholder="Enter Group Name"
      allowClear=true
      renderInPlace=true
      noMatchesMessage="We Could Not Find an Active Group with that Name"
      as |group|
    }}
      Group: {{group.name}} {{#if group.parent.shortName}}({{group.parent.shortName}}){{/if}}
    {{/power-select}}
  </p>
  <p>
    {{group.name}}
  </p> --}}
</div>
