<div class="jumbotron">
  <p>
    Barberscore is the new Contest Manager for the Barbershop Harmony Society.
  </p>
  <p>
    To login, click the the Login link in the upper right-hand corner of your browser window.
  </p>
</div>
