<div>
  <div class='jumbotron'>
    <section>
      <p>
          Barberscore is an easy, mobile-friendly way to track scores, schedules, and stagetimes.
      </p>
    </section>
    <section>
        <ul class='list-inline'>
        <li>Foo</li>
        </ul>
    </section>
    <section>
      <small>
        Note that this site is under rapid development; more information and features will be posted as they become available.
      </small>
    </section>
  </div>
  <div class="footer bottom-bar">
    <ul class="nav nav-pills">
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'faq'}}FAQ{{/link-to}}</li>
    </ul>
  </div>
</div>