<section class="page-header">
  <h1>
    Login
  </h1>
  <p class='lead'>
    The site is currently under development; logins are only being provided on an as-needed basis.
  </p>
</section>
<section>
  {{#bs-button onClick=(action 'login') type='primary'}}Login{{/bs-button}}
</section>
