<section>
  <div class="page-header">
    <h1>Login</h1>
    <h3>You now have two ways to login</h3>
  </div>
</section>
<section>
  <div class='row'>
    <div class='col-md-6'>
      <p class='lead'>
        Login with email and password<br><br>
        {{#bs-button onClick=(action "password") type='primary' size='lg'}}Email and Password{{/bs-button}}
      </p>
      <p>
        <strong>Important:</strong>If this is the first time using this approach, you'll need to create a new password by clicking the "Don't remember your password?" link and following those instructions.
      </p>
    </div>
    <div class='col-md-6'>
      <p class='lead'>
        Login with a MagicLink (no password required)<br><br>
        {{#bs-button onClick=(action "passwordless") type='primary' size='lg'}}Passwordless MagicLink{{/bs-button}}
      </p>
    </div>
  </div>
</section>
<section>
  <small><strong>Welcome:</strong> Barberscore is now operational for competitors wishing to perform in the Spring 2018 Contests. Edit permissions are only available to quartet contact administrators (for quartet entry), or pre-defined Chapter Leaders (for chorus entry). Please refer to competitor tutorials and FAQ (below) for more information.</small>
</section>
