<div class="page-header">
  <h1>Login</h1>
</div>
<div class='row'>
  <div class='col-md-6'>
    <p class='lead'>
      Click this button to start the login process.<br><br>
      {{#bs-button onClick=(action "login") type='primary' size='lg'}}Login{{/bs-button}}
    </p>
    <br>
    <br>
    <br>
    <p>
      {{#bs-button class='btn btn-link' onClick=(toggle 'collapsed' this)}}
        Stuck in a loop?
      {{/bs-button}}
    </p>
    {{#bs-collapse collapsed=collapsed}}
        <p>
          Some users have reported getting stuck in a loop where they are redirected to the login page but aren't logged in.  If this happens to you, here is the workaround:
          <ol>
            <li>Click on the login button.</li>
            <li>Enter your email.</li>
            <li>When the email arrives, click the sign in button.</li>
            <li>If you are directed back to the login page <em>don't click anything!</em></li>
            <li>Look in the url for the words 'access_token' after `https://www.barberscore.com`.  If that is there, then hit the Enter/Return key on your keyboard (sometimes several times is necessary.)</li>
            <li>You should then be redirected to your dashboard.</li>
          </ol>
        </p>
        <p>
          If this process doesn't work then contact support@barberscore.com and we'll figure out another solution.  Sorry for the trouble and thanks for your patience as we work out these bugs.
        </p>
    {{/bs-collapse}}
  </div>
</div>