<div class='col-md-6'>
<h3>
Barberscore is the new Contest Manager for the Barbershop Harmony Society…
</h3>

<br>
<h5>…however, we are still doing some testing before allowing contestants to enter the upcoming 2017 BHS Fall contests.</h5>
<br><br><br>

<p>
If you have any questions or concerns surrounding your District’s Fall Convention – (and specifically your chorus or quartet’s pending entry into one of the contests) – please contact your District Representative for Contest &amp; Judging (DRCJ). Click on <a href='https://docs.google.com/document/d/1EKb9YFtCWZj9QhUBSOhTIhgiyyrp1ZsV-I-oi4u942Y/edit'>this link</a> to see the list of all Fall conventions, the responsible DRCJ with his email address, as well as the assigned judging panels.
</p>
<p>
Meanwhile, please ensure the information in the new BHS Member Center is correct.</p>
<ul class='list-styled'>
<li>Each quartet should have a designated contact person with a valid email address.</li>
<li>Every chapter should have one or more leaders designated as a “Chapter Secretary” – each with a valid email address.</li>
<li>These will be the only individuals with the proper level of access rights into Barberscore for registering their quartet or chapter’s chorus for entry into contest.</li>
<li>
In addition, all competing members will need to be current with their BHS membership dues prior to the date of the contest.</li>
</ul>
<p>
  Each group's official representative will be contacted via email when the new system is ready to accept entries.
</p>
  <br><br><br>

<h4>Thank you for your patience.</h4>
<h4>David Mills, BHS Contest &amp; Judging Chairman</h4>
</div>