<div class='col-md-6'>
<h3>
Barberscore Tutorials
</h3>

<br>
<h5>Please find some tutorials below on how to use the Barberscore system.</h5>
<br><br><br>

<h2>Important Note:</h2>
<strong>Please use Chrome or Firefox; we've encountered some problems using Safari.</strong>
<br><br>
<ul class='list-unstyled spacing'>
  <li><a href="/assets/login.pdf">{{fa-icon 'file-pdf-o'}} Login Instructions</a></li>
  <li><a href="/assets/group.pdf">{{fa-icon 'file-pdf-o'}} Competitor Instructions</a></li>
  <li><a href="/assets/session.pdf">{{fa-icon 'file-pdf-o'}} DRCJ Instructions</a></li>
  <li><a href="/assets/invite.pdf">{{fa-icon 'file-pdf-o'}} DRCJ Invitational Addendum</a></li>
  {{!-- <li><iframe width="560" height="315" src="https://www.youtube.com/embed/_haenclmdfw" frameborder="0" allowfullscreen></iframe></li> --}}
</ul>

<br><br><br>
<ul class='list-unstyled spacing'>
  <li><iframe width="560" height="315" src="https://www.youtube.com/embed/o0Vf_FM0UVo" frameborder="0" allowfullscreen></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube.com/embed/IzWWqwXsZjU" frameborder="0" allowfullscreen></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube.com/embed/95j-iSSjcVs" frameborder="0" allowfullscreen></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube.com/embed/YveUVowmTG8" frameborder="0" allowfullscreen></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube.com/embed/VExdQOwXS_E" frameborder="0" allowfullscreen></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube.com/embed/BOxdrLLP0eA" frameborder="0" allowfullscreen></iframe></li>{{!-- <li><a href="/assets/convention.pdf">Convention Manager Instructions</a></li> --}}
  {{!-- <li><iframe width="560" height="315" src="https://www.youtube.com/embed/_haenclmdfw" frameborder="0" allowfullscreen></iframe></li> --}}
</ul>
  <br><br><br>

<h4>If you need support...</h4>
<p>Email <a href='mailto:customerservice@barbershop.org'>customerservice@barbershop.org</a> and we'll do all we can to help.
</p>
</div>
