<section>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4>
        {{model.nomen}}
      </h4>
    </div>
    <div class='panel-body'>
      <section>
        <ul class='list-unstyled'>
          <li>{{#bs-button onChange=(action 'startConvention') class='form-group'}}Start{{/bs-button}}</li>
          {{#bs-button onChange=(action 'endConvention') class='form-group'}}End{{/bs-button}}
        </ul>
      </section>
    </div>
  </div>
</section>
