<section>
  <ul class='list-unstyled'>
    <li class='person-text'>{{#bs-button onChange=(action 'startConvention') class='form-group' disabled=true}}Start Convention{{/bs-button}}</li>
    <li class='person-text'>{{#bs-button onChange=(action 'endConvention') class='form-group' disabled=true}}End Convention{{/bs-button}}</li>
  </ul>
</section>
