<section>
  <div class='row'>
    <div class='col-md-3'>
      {{#bs-nav type="pills" justified=false stacked=true as |nav|}}
        {{#each model.hosts as |host|}}
          {{#nav.item}}
            {{#nav.link-to 'admin.convention-manager.convention.hosts.host' host}}{{host.entity.name}}{{/nav.link-to}}
          {{/nav.item}}
        {{/each}}
      {{/bs-nav}}
      <section>
        {{#bs-form
          model=this
          formLayout='vertical'
          onSubmit=(action 'addHost')
          as |form|
        }}
          {{#form.element property='entity' useIcons=false as |el|}}
            {{#power-select
              options=entityOptions
              selected=el.value
              onchange=(action (mut el.value))
              placeholder="Enter Host"
              disabled=isDisabled
              allowClear=true
              as |entity|
            }}
              {{entity.name}}
            {{/power-select}}
          {{/form.element}}
          {{#bs-button type="primary" buttonType="submit"}}Add{{/bs-button}}
        {{/bs-form}}
      </section>
    </div>
    <div class='col-md-9'>
      {{outlet}}
    </div>
  </div>
</section>
