<p>
{{model.name}}
</p>
<div>
<table class='table'>
  <thead>
  <tr>
  <th>Award</th>
  <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.contestants as |contestant|}}
    <tr>
    <td>
    {{contestant.award.name}}
    </td>
    <td>
    {{contestant.status}}
    </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
